---
# Default Spring Profile
server:
  error:
    include-message: always

logging:
  level:
    root: INFO
    com.example: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

cart-service:
  host: localhost
  port: 7008
mailer-service:
  host: localhost
  port: 8888
default-admin:
  username: admin
  password: admin

#This was changed to the new endpoint using the new V2 functions, if you want to access the previous
frontend:
  url: http://localhost:8080/api/v2/gateway
customer-frontend:
  url: http://localhost:3000


---
# for test

# for h2
spring:
  config:
    activate:
      on-profile: h2
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:auth-db;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
      #let jpa create the schema
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        auto-quote-keyword: true

    #defer-datasource-initialization: true
  sql:
    init:
      platform: h2
      mode: always

---
# for docker
management:
  endpoints:
    web:
      exposure:
        include: health, prometheus

spring:
  # performance optimizationn
  main:
    lazy-initialization: true
  server:
    netty:
      connection-provider:
        max-connections: 10
    tomcat:
      threads:
        max: 50

  datasource:
    url: jdbc:mysql://mysql-auth/auth-db
    username: user
    password: pwd

  jpa:
    hibernate:
      ddl-auto: none

  config:
    activate:
      on-profile: docker

  sql:
    init:
      platform: mysql
      mode: always

mailer-service:
  host: mailer-service
  port: 8080

cart-service:
  host: cart-service
  port: 8080

emailing-service:
  host: emailing-service
  port: 5115

#This was changed to the new endpoint using the new V2 functions, if you want to access the previous
# this is to make it work in prod will be fixed later
frontend:
  url: http://localhost:8080/api/v2/gateway
customer-frontend:
  url: http://localhost:3000

logging:
  level:
    root: INFO
    com.petclinic: DEBUG

---
#for production
management:
  endpoints:
    web:
      exposure:
        include: health, prometheus

spring:
  # performance optimizationn
  main:
    lazy-initialization: true
  server:
    netty:
      connection-provider:
        max-connections: 10
    tomcat:
      threads:
        max: 50

  datasource:
    url: jdbc:mysql://mysql-auth/auth-db
    username: user
    password: pwd

  jpa:
    hibernate:
      ddl-auto: none

  config:
    activate:
      on-profile: prod

  sql:
    init:
      platform: mysql
      mode: always

mailer-service:
  host: mailer-service
  port: 8080

cart-service:
  host: cart-service
  port: 8080

emailing-service:
  host: emailing-service
  port: 5115

frontend:
  url: https://petclinic-backend.benmusicgeek.synology.me/api/v2/gateway
customer-frontend:
  url: https://petclinic.benmusicgeek.synology.me/

---
server.port: 8080

spring.datasource.hikari.initializationFailTimeout: 60000
