
<h2 class="titleOwner">Bill History for customer {{$ctrl.owner.firstName}}, {{$ctrl.owner.lastName}}</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td>Bill ID</td>
        <td>Customer ID</td>
        <td>Owner Details</td>
        <td>Details</td>
        <td>Delete Bill</td>
    </tr>
    </thead>

    <tr id="customerId" ng-repeat="bill in $ctrl.billsByOwnerId">
        <td>{{bill.billId}}</td>
        <td>{{bill.customerId}}</td>
        <td><a href="http://localhost:8080/#!/owners/details/{{bill.customerId}}">Owner Details</a></td>
        <td><a href="http://localhost:8080/#!/bills/details/{{bill.billId}}/owner/{{bill.customerId}}">Bill Details</a></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBill(bill.billId)">Delete Bill</a></td>
    </tr>
</table>
<a class="newBtn btn btn-primary" href="http://localhost:8080/#!/bills">
    View all Bills</a>
<a class="newBtn btn btn-primary" >
    Delete all Bills by Owner</a>
