<div class="bColor text-center">
  <h2 class="titleProduct form" id="title">Update Product</h2>
</div>

<div class="p-3 formColor m-0">
  <form id="inventoryProductUpdateForm"
        name="inventoryProductUpdateForm"
        class="form-horizontal"
        enctype="multipart/form-data"
        ng-submit="inventoryProductUpdateForm.$valid && $ctrl.submitProductUpdateForm()"
        novalidate>

    <!-- Product name (required) -->
    <div class="row">
      <div class="col-sm-6 form-group"
           ng-class="{'has-error': inventoryProductUpdateForm.productName.$touched && inventoryProductUpdateForm.productName.$invalid}">
        <label class="control-label" for="item">Product <span class="text-danger">*</span></label>
        <input class="form-control"
               id="item"
               name="productName"
               type="text"
               ng-model="$ctrl.product.productName"
               ng-trim="true"
               required
               placeholder="Please enter product name." />
        <div class="help-block text-danger"
             ng-if="inventoryProductUpdateForm.productName.$touched && inventoryProductUpdateForm.productName.$error.required">
          Product name is required.
        </div>
        <input type="hidden" ng-model="$ctrl.product.inventoryId" ng-value="inventoryId">
      </div>
    </div>

    <!-- Description (required) -->
    <div class="col-sm-6 form-group"
         ng-class="{'has-error': inventoryProductUpdateForm.productDescription.$touched && inventoryProductUpdateForm.productDescription.$invalid}">
      <label class="control-label" for="description">Description <span class="text-danger">*</span></label>
      <input class="form-control col-sm-4"
             id="description"
             name="productDescription"
             type="text"
             ng-model="$ctrl.product.productDescription"
             ng-trim="true"
             required
             placeholder="Please enter product description." />
      <div class="help-block text-danger"
           ng-if="inventoryProductUpdateForm.productDescription.$touched && inventoryProductUpdateForm.productDescription.$error.required">
        Description is required.
      </div>
    </div>

    <!-- Price (> 0) -->
    <div class="row">
      <div class="form-group col-sm-12"
           ng-class="{'has-error': inventoryProductUpdateForm.productPrice.$touched && inventoryProductUpdateForm.productPrice.$invalid}">
        <label class="control-label" for="price">Price <span class="text-danger">*</span></label>
        <input class="form-control"
               id="price"
               name="productPrice"
               type="number"
               step="0.01"
               min="0.01"
               ng-model="$ctrl.product.productPrice"
               required
               placeholder="Please enter a price" />
        <div class="help-block text-danger" ng-if="inventoryProductUpdateForm.productPrice.$touched">
          <span ng-if="inventoryProductUpdateForm.productPrice.$error.required">Price is required.</span>
          <span ng-if="inventoryProductUpdateForm.productPrice.$error.min">Price must be greater than 0.</span>
          <span ng-if="inventoryProductUpdateForm.productPrice.$error.number">Price must be a number.</span>
        </div>
      </div>
    </div>

    <!-- Quantity (>= 1) -->
    <div class="form-group p-3"
         ng-class="{'has-error': inventoryProductUpdateForm.productQuantity.$touched && inventoryProductUpdateForm.productQuantity.$invalid}">
      <div class="bundle marg col-sm-12">
        <label class="control-label" for="quantity">Quantity <span class="text-danger">*</span></label>
        <input class="form-control"
               id="quantity"
               name="productQuantity"
               type="number"
               step="1"
               min="1"
               ng-model="$ctrl.product.productQuantity"
               required
               title="Please enter quantities." />
        <div class="help-block text-danger" ng-if="inventoryProductUpdateForm.productQuantity.$touched">
          <span ng-if="inventoryProductUpdateForm.productQuantity.$error.required">Quantity is required.</span>
          <span ng-if="inventoryProductUpdateForm.productQuantity.$error.min">Quantity must be at least 1.</span>
          <span ng-if="inventoryProductUpdateForm.productQuantity.$error.number">Quantity must be a number.</span>
        </div>
      </div>
    </div>

    <!-- Sale Price (>= 0) -->
    <div class="form-group p-3"
         ng-class="{'has-error': inventoryProductUpdateForm.productSalePrice.$touched && inventoryProductUpdateForm.productSalePrice.$invalid}">
      <div class="bundle marg col-sm-12">
        <label class="control-label" for="salePrice">Sale Price <span class="text-danger">*</span></label>
        <input class="form-control"
               id="salePrice"
               name="productSalePrice"
               type="number"
               step="0.01"
               min="0"
               ng-model="$ctrl.product.productSalePrice"
               required
               title="Please enter the sale price." />
        <div class="help-block text-danger" ng-if="inventoryProductUpdateForm.productSalePrice.$touched">
          <span ng-if="inventoryProductUpdateForm.productSalePrice.$error.required">Sale price is required.</span>
          <span ng-if="inventoryProductUpdateForm.productSalePrice.$error.min">Sale price can’t be negative.</span>
          <span ng-if="inventoryProductUpdateForm.productSalePrice.$error.number">Sale price must be a number.</span>
        </div>
      </div>
    </div>

    <div class="form-group formColor">
      <div class="owner marg col-sm-6">
        <button id="newBtn"
                class="btn btn-default"
                type="submit"
                ng-disabled="inventoryProductUpdateForm.$invalid || saving">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
