.container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.profile-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.profile-info p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.profile-info strong {
  color: #555;
}

.profile-info p {
  color: #666;
}

.updateButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.updateButton:hover {
  background-color: #0056b3;
}

.shadow-lg {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.bg-white {
  background-color: #ffffff !important;
}

.rounded {
  border-radius: 8px;
}
