.day-of-week,
.date-grid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(7, 1fr);
}

.square {
    border-style: solid;
    border-width: thin;
    text-align: center;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    background-color: #ebebeb;
    margin: 2%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 530px) {
    .day-of-week,
    .date-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:"a b c"
                          "d e f"
                          ". g ."
    }

    #Monday {
        grid-area: a;
    }

    #Tuesday {
        grid-area: b;
    }

    #Wednesday {
        grid-area: c;
    }

    #Thursday {
        grid-area: d;
    }

    #Friday {
        grid-area: e;
    }

    #Saturday {
        grid-area: f;
    }

    #Sunday {
        grid-area: g;
    }

}