#titleSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#pageTitle {
  margin: 0px;
  padding: 0px;
  margin-top: 100px;
  margin-bottom: 0px;
}

:global(.table) th,
:global(.table) td {
  vertical-align: middle;
}
