version: "3.9"

x-healthchecks:
  springboot: &springboot
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -fsS http://localhost:8080/actuator/health || curl -fsS http://localhost:8080/health",
        ]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 40s

  react-node: &react_node
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:3000/ || true"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 15s

  angular-node: &angular_node
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:4200/ || true"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 15s

  nginx: &nginx
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 80"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

  dbgate: &dbgate_hc
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:3000/"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

  mysql: &mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-u${DB_USER}", "-p${DB_PASSWORD}", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  postgres: &postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d images -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  mongo: &mongo
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mongosh --quiet -u ${DB_USER} -p ${DB_PASSWORD} --eval 'db.runCommand({ ping: 1 }).ok' || mongo --quiet -u ${DB_USER} -p ${DB_PASSWORD} --eval 'db.runCommand({ ping: 1 }).ok'",
        ]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 30s

services:
  petclinicFrontend:
    <<: *react_node
    image: petclinic-frontend
    container_name: petclinic-frontend
    profiles: ["fe"]
    build:
      context: ./petclinic-frontend
      dockerfile: Dockerfile
      args:
        - BUILD_MODE=development
    ports:
      - "3000:3000"
    volumes:
      - ./petclinic-frontend/src:/app/src
    env_file:
      - .env

  employeeFrontend:
    <<: *angular_node
    image: employee-frontend
    container_name: employee-frontend
    profiles: ["fe-employee"]
    build:
      context: ./employee-frontend
      dockerfile: Dockerfile
      args:
        - BUILD_MODE=development
    ports:
      - "4200:4200"
    volumes:
      - ./employee-frontend/src:/app/src
    env_file:
      - .env

  janus:
    <<: *nginx
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/njs:/etc/nginx/njs
    env_file:
      - .env

  visits-service-new:
    <<: *springboot
    build: visits-service-new
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mongo-visits:
        condition: service_healthy
      mailer-service:
        condition: service_started

  inventory-service:
    <<: *springboot
    build: inventory-service
    hostname: inventory
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mongo-inventory:
        condition: service_healthy

  vet-service:
    <<: *springboot
    build: vet-service
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mongo-vet:
        condition: service_healthy
      postgres-vet:
        condition: service_healthy

  customers-service-reactive:
    <<: *springboot
    build: customers-service-reactive
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mongo-customers:
        condition: service_healthy

  api-gateway:
    <<: *springboot
    build: api-gateway
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      customers-service-reactive:
        condition: service_healthy
      vet-service:
        condition: service_healthy
      visits-service-new:
        condition: service_healthy
      products-service:
        condition: service_healthy
      cart-service:
        condition: service_healthy

  auth-service:
    <<: *springboot
    build: auth-service
    hostname: auth
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mysql-auth:
        condition: service_healthy
      mailer-service:
        condition: service_started

  billing-service:
    <<: *springboot
    build: billing-service
    hostname: billing
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mongo-billing:
        condition: service_healthy

  products-service:
    <<: *springboot
    build: products-service
    hostname: products-service
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mongo-products:
        condition: service_healthy

  cart-service:
    <<: *springboot
    build: cart-service
    hostname: cart
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mongo-carts:
        condition: service_healthy

  mailer-service:
    build: mailer-service
    env_file:
      - .env
    environment:
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_EMAIL=${SMTP_EMAIL}
      - SMTP_DISPLAY_NAME=${SMTP_DISPLAY_NAME}

  files-service:
    build: files-service
    env_file:
      - .env
    environment:
      - FILE_DATABASE=${DB_USER}:${DB_PASSWORD}@tcp(mysql-files:3306)/files-db
      - FILE_ENDPOINT=minio:9100
      - FILE_ENV=dev
      - FILE_DEV_BUCKET=petclinic-dev
      - FILE_DEV_DATA=petclinic-bucket.benmusicgeek.synology.me
      - FILE_ACCESS_KEY_ID=${FILE_ACCESS_KEY_ID}
      - FILE_SECRET_ACCESS_KEY=${FILE_SECRET_ACCESS_KEY}
    depends_on:
      mysql-files:
        condition: service_healthy
      minio:
        condition: service_healthy

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    command: server --address ":9100" --console-address ":9101" /data
    environment:
      MINIO_ROOT_USER: user
      MINIO_ROOT_PASSWORD: password
    ports:
      - "9101:9101"
    expose:
      - "9100"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9100/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 10

  mysql-files:
    <<: *mysql
    image: mysql:5.7
    platform: linux/amd64
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-rootpwd}
      - MYSQL_DATABASE=files-db
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}

  mysql-auth:
    <<: *mysql
    image: mysql:5.7
    platform: linux/amd64
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-rootpwd}
      - MYSQL_DATABASE=auth-db
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}

  postgres-vet:
    <<: *postgres
    image: postgres
    container_name: postgres-vet
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=images

  mongo-vet:
    <<: *mongo
    image: mongo
    container_name: mongo-vet
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

  mongo-billing:
    <<: *mongo
    image: mongo
    container_name: mongo-billing
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

  mongo-visits:
    <<: *mongo
    image: mongo
    container_name: mongo-visits
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

  mongo-customers:
    <<: *mongo
    image: mongo
    container_name: mongo-customers
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

  mongo-inventory:
    <<: *mongo
    image: mongo
    container_name: mongo-inventory
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

  mongo-products:
    <<: *mongo
    image: mongo
    container_name: mongo-products
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

  mongo-carts:
    <<: *mongo
    image: mongo
    container_name: mongo-carts
    restart: always
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}

  dbgate:
    <<: *dbgate_hc
    image: dbgate/dbgate:latest
    container_name: dbgate
    ports:
      - "8030:3000"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - CONNECTIONS=mysqlAuth,mysqlFiles,postgresVet,mongoVet,mongoBilling,mongoVisits,mongoCustomers,mongoInventory,mongoProducts,mongoCarts
      - LABEL_mysqlAuth=MySQL auth-db
      - ENGINE_mysqlAuth=mysql@dbgate-plugin-mysql
      - SERVER_mysqlAuth=mysql-auth
      - PORT_mysqlAuth=3306
      - USER_mysqlAuth=${DB_USER}
      - PASSWORD_mysqlAuth=${DB_PASSWORD}
      - DATABASE_mysqlAuth=auth-db
      - LABEL_mysqlFiles=MySQL files-db
      - ENGINE_mysqlFiles=mysql@dbgate-plugin-mysql
      - SERVER_mysqlFiles=mysql-files
      - PORT_mysqlFiles=3306
      - USER_mysqlFiles=${DB_USER}
      - PASSWORD_mysqlFiles=${DB_PASSWORD}
      - DATABASE_mysqlFiles=files-db
      - LABEL_postgresVet=Postgres images
      - ENGINE_postgresVet=postgres@dbgate-plugin-postgres
      - SERVER_postgresVet=postgres-vet
      - PORT_postgresVet=5432
      - USER_postgresVet=${DB_USER}
      - PASSWORD_postgresVet=${DB_PASSWORD}
      - DATABASE_postgresVet=images
      - LABEL_mongoVet=Mongo (vet)
      - ENGINE_mongoVet=mongo@dbgate-plugin-mongo
      - URL_mongoVet=mongodb://${DB_USER}:${DB_PASSWORD}@mongo-vet:27017/?authSource=admin
      - LABEL_mongoBilling=Mongo (billing)
      - ENGINE_mongoBilling=mongo@dbgate-plugin-mongo
      - URL_mongoBilling=mongodb://${DB_USER}:${DB_PASSWORD}@mongo-billing:27017/?authSource=admin
      - LABEL_mongoVisits=Mongo (visits)
      - ENGINE_mongoVisits=mongo@dbgate-plugin-mongo
      - URL_mongoVisits=mongodb://${DB_USER}:${DB_PASSWORD}@mongo-visits:27017/?authSource=admin
      - LABEL_mongoCustomers=Mongo (customers)
      - ENGINE_mongoCustomers=mongo@dbgate-plugin-mongo
      - URL_mongoCustomers=mongodb://${DB_USER}:${DB_PASSWORD}@mongo-customers:27017/?authSource=admin
      - LABEL_mongoInventory=Mongo (inventory)
      - ENGINE_mongoInventory=mongo@dbgate-plugin-mongo
      - URL_mongoInventory=mongodb://${DB_USER}:${DB_PASSWORD}@mongo-inventory:27017/?authSource=admin
      - LABEL_mongoProducts=Mongo (products)
      - ENGINE_mongoProducts=mongo@dbgate-plugin-mongo
      - URL_mongoProducts=mongodb://${DB_USER}:${DB_PASSWORD}@mongo-products:27017/?authSource=admin
      - LABEL_mongoCarts=Mongo (carts)
      - ENGINE_mongoCarts=mongo@dbgate-plugin-mongo
      - URL_mongoCarts=mongodb://${DB_USER}:${DB_PASSWORD}@mongo-carts:27017/?authSource=admin
    depends_on:
      mysql-auth:
        condition: service_healthy
      mysql-files:
        condition: service_healthy
      postgres-vet:
        condition: service_healthy
      mongo-vet:
        condition: service_healthy
      mongo-billing:
        condition: service_healthy
      mongo-visits:
        condition: service_healthy
      mongo-customers:
        condition: service_healthy
      mongo-inventory:
        condition: service_healthy
      mongo-products:
        condition: service_healthy
      mongo-carts:
        condition: service_healthy
