.card {
  /* Common card styles */
  overflow: hidden;
  width: 300px;
  height: auto;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.low-quantity {
  border-top: 5px solid orange;
  position: relative;
}

.low-quantity::after {
  content: 'Low Stock';
  color: orange;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 5px;
  background: white;
  padding: 2px 5px;
  border-radius: 3px;
}

/* Styles for out of stock */
.out-of-stock {
  border-top: 5px solid red;
  position: relative;
}

.out-of-stock::after {
  content: 'Out of Stock';
  color: red;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 5px;
  background: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Styles for low quantity */
