.visit-actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.visit-table-section {
  margin-top: 40px;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 18px; /* Larger font size */
}

table th,
table td {
  padding: 16px; /* Increased padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f5f5f5;
}

h1,
h2 {
  font-size: 28px; /* Increased font size */
  margin-bottom: 20px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Set to 100% for full width */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  width: 80%; /* Increased width */
  max-width: 80%; /* Increased max width */
  padding: 30px; /* Increased padding */
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 90vh; /* Confine the popup height to 90% of viewport height */
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 18px; /* Larger font size */
}

.popup-content table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px; /* Larger font size */
}

.popup-content th,
.popup-content td {
  padding: 16px; /* Increased padding */
  border: 1px solid #ddd;
}

.popup-content th {
  background-color: #f2f2f2;
}

.popup-content button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.popup-content .close-btn {
  background-color: #9c1616;
  margin-left: 10px;
}

.refresh-button {
  background-color: #80a8ff;
  margin-left: 10px;
  float: right;
}

tbody {
  display: block;
  max-height: 50vh; /* Increased max height */
  overflow-y: auto;
}

thead,
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
