<style>
    .btn:hover {
        transform: translateY(2px);
        box-shadow: 0 0 rgba(0, 0, 0, 2);
        border-bottom-width: 1px;
    }

    .table-striped tbody tr:hover {
        background-color: #D8D8D8;
    }
</style>

<h2>Inventory Products</h2>
<p>{{inventory.inventoryCode}} - {{inventory.inventoryName}}</p>

<table class="table table-striped">
    <thead>
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Description</td>
        <td>Sale Price</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
        <span>
            <input type="text" ng-model="productName" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, minPrice, maxPrice, minSalePrice, maxSalePrice)">
        </span>
        </td>
        <td></td>
        <td>
        <span>
            <input type="number" min="1" step="1" ng-model="productQuantity" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, minPrice, maxPrice, minSalePrice, maxSalePrice)">
        </span>
        </td>
        <td>
        <span>
            Min: <input type="number" step="0.01" min="0" ng-model="minPrice" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, minPrice, maxPrice, minSalePrice, maxSalePrice)">
            Max: <input type="number" step="0.01" min="0" ng-model="maxPrice" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, minPrice, maxPrice, minSalePrice, maxSalePrice)">
        </span>
        </td>
        <td></td>
        <td>
        <span>
            Min: <input type="number" step="0.01" min="0" ng-model="minSalePrice" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, minPrice, maxPrice, minSalePrice, maxSalePrice)">
            Max: <input type="number" step="0.01" min="0" ng-model="maxSalePrice" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, minPrice, maxPrice, minSalePrice, maxSalePrice)">
        </span>
        </td>
        <td></td>
        <td>
         <span>
            <a class="btn btn-success" type="button" ng-click="clearQueries()" title="Clear">
                <lord-icon
                        src="https://cdn.lordicon.com/zxvuvcnc.json"
                        trigger="hover"
                        style="width:32px;height:32px">
                </lord-icon>
            </a>
        </span>
        </td>
        <td>
        <span>
            <a class="btn btn-success" type="button" ng-click="searchProduct(productName, productQuantity, minPrice, maxPrice, minSalePrice, maxSalePrice)" title="Search">
                <lord-icon
                        src="https://cdn.lordicon.com/fkdzyfle.json"
                        trigger="hover"
                        style="width:32px;height:32px">
                </lord-icon>
            </a>
        </span>
        </td>
    </tr>

    </thead>
    <tr ng-repeat="product in $ctrl.inventoryProductList | filter:$ctrl.query track by product.productId">
        <td><span>{{product.productName}}</span></td>
        <td><span>{{product.productId}}</span></td>
        <td><span>{{product.productQuantity}}</span></td>
        <td><span>{{product.productPrice}}$</span></td>
        <td><span>{{product.productDescription}}</span></td>
        <td><span>{{product.productSalePrice}}$</span></td>

        <td>
            <a
                    class="btn btn-info"
                    ui-sref="inventoriesProductDetails({
  inventoryId: product.inventoryId,
  productId: product.productId
})"

                    title="Details"
            >
                <lord-icon
                        src="https://cdn.lordicon.com/jnzhohhs.json"
                        trigger="hover"
                        style="width:32px;height:32px">
                </lord-icon>
            </a>
        </td>
        <td><a ui-sref="updateProductInventory({inventoryId: $ctrl.inventoryProductList[0].inventoryId, productId: product.productId})" title="Edit">
            <button class="add-bundle-button btn btn-warning">

                <lord-icon
                        src="https://cdn.lordicon.com/wkvacbiw.json"
                        trigger="hover"
                        style="width:32px;height:32px">
                </lord-icon>

            </button>
        </a></td>



        <td><a ng-if="!product.isTemporarilyDeleted" class="btn btn-danger" href="javascript:void(0)" ng-click="deleteProduct(product); $event.stopPropagation()" title="Delete">
            <lord-icon
                    src="https://cdn.lordicon.com/skkahier.json"
                    trigger="hover"
                    style="width:32px;height:32px">
            </lord-icon>
            <a ng-if="product.isTemporarilyDeleted"  class="btn btn-info" href="javascript:void(0)" ng-click="undoDelete(product); $event.stopPropagation()">Restore</a>
        </a>
        </td>

        <td></td>
    </tr>
</table>
<div class="d-flex justify-content-center pb-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link text-dark" aria-label="Previous" ng-click="$ctrl.previousPage()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link text-dark" disabled>Page-{{$ctrl.actualCurrentPageShown}}</a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark" aria-label="Next" ng-click="$ctrl.nextPage()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div id="notification" style="display: none; position: fixed; bottom: 10px; right: 10px; background-color: #4CAF50; color: white; padding: 10px; border-radius: 5px;">
    Notification Text Here
</div>
<a ui-sref="inventoriesProductNew">
    <button class="add-bundle-button btn btn-success">Add Product</button>
</a>
<a ui-sref="inventories">
    <button class="btn btn-success">Inventory List</button>
</a>