<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <div ng-controller="UserDetailsController as userDetails" class="user-details">
            <h3>User Details for ID: {{ userDetails.userId }}</h3>
            <p><strong>Username:</strong> {{ userDetails.user ? userDetails.user.username : 'N/A' }}</p>
            <p><strong>Email:</strong> {{ userDetails.user ? userDetails.user.email : 'N/A' }}</p>
            <p><strong>Roles:</strong>
                <span ng-repeat="role in userDetails.user.roles">
                    {{role.name}}
                    <span ng-if="!$last">, </span>
                </span>
            </p>
            <button class="btn btn-primary" ng-click="userDetails.goToAdminPanel()" >Back</button>
        </div>

    </body>
</html>


<style>
    .user-details {
        font-family: Arial, sans-serif;
        color: #333;
    }

    .user-details h3 {
        color: #007BFF;
    }

    .user-details p {
        margin-bottom: 10px;
    }
</style>
