<mat-toolbar color="primary">
  <span class="title">Petclinic</span>

  <ul class="horizontal-list">
    @for (navbarItem of navBarItems; track navbarItem.route) {
      <li>
        <a mat-list-item [routerLink]="navbarItem.route" routerLinkActive="active-link">
          <span matListItemTitle>{{ navbarItem.label }}</span>
        </a>
      </li>
    }
  </ul>

  <span class="spacer"></span>

  <div class="lang-switcher">
    <button mat-button [class.active]="currentLanguage === 'fr-CA'" (click)="switchLang('fr-CA')">
      FR
    </button>
    <button mat-button [class.active]="currentLanguage === 'en-CA'" (click)="switchLang('en-CA')">
      EN
    </button>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <div class="username">
      {{ username() }}
    </div>

    <button mat-menu-item (click)="setting()">
      <mat-icon>settings</mat-icon>
      <span i18n="@@navbar.settings">Paramètres</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span i18n="@@navbar.logout">Déconnexion</span>
    </button>
  </mat-menu>
</mat-toolbar>
