.update-bill-form {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.admin-update-bill-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.admin-update-bill-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
}
