<div class="bColor"><h2 class="titleOwner form">Edit Pet</h2></div>

<form id="petForm" class="form-horizontal" ng-submit="$ctrl.submit()">
    <div class="form-group formColor">
        <div class="pet marg col-sm-6">
            <input type="hidden" ng-model="$ctrl.pet.petId" name="petId" />
            <!--<p class="pet form-control-static">{{$ctrl.pet.owner}}</p>-->
        </div>
    </div>

    <div class="form-group formColor">
        <label class="col-sm-2 control-label"> Pet Name </label>
        <div class="pet col-sm-6">
            <input class="form-control col-sm-4" ng-model="$ctrl.pet.name" name="name" required type="text" ng-disabled="$ctrl.checked"/>
            <span ng-show="petForm.name.$error.required" class="help-inline">Name is required.</span>
        </div>
    </div>

    <div class="form-group formColor">
        <label class="col-sm-2 control-label"> Birth date </label>
        <div class="pet col-sm-6">
            <input class="form-control" ng-model="$ctrl.pet.birthDate" name="dbo" required type="date" ng-disabled="$ctrl.checked"/>
            <span ng-show="petForm.name.$error.required" class="help-inline"> birth date is required.</span>
            <p ng-hide="true">Current Birth Date: {{ $ctrl.pet.birthDate | date:'yyyy-MM-dd'}}</p>
        </div>
    </div>

    <div class="form-group formColor">
        <label class="col-sm-2 control-label"> Pet Weight (Kilograms) </label>
        <div class="pet col-sm-6">
            <input class="form-control col-sm-4" ng-model="$ctrl.pet.weight" name="weight" required type="text" ng-disabled="$ctrl.checked"/>
            <span ng-show="petForm.name.$error.required" class="help-inline">Weight is required.</span>
        </div>
    </div>

    <div class="form-group formColor">
        <label class="col-sm-2 control-label">Type</label>
        <!--<div class="pet col-sm-6">
            <select class="form-control" ng-model="$ctrl.pet.petTypeId" name="type" ng-options="t.id as t.name for t in $ctrl.types track by t.id" ng-disabled="$ctrl.checked"></select>
        </div>-->
        <div class="pet col-sm-6">
            <select class="form-control" ng-model="$ctrl.pet.petTypeId" name="type" ng-disabled="$ctrl.checked">
                <option value="1">Cat</option>
                <option value="2">Dog</option>
                <option value="3">Lizard</option>
                <option value="4">Snake</option>
                <option value="5">Bird</option>
                <option value="6">Hamster</option>
            </select>
        </div>
    </div>
    <div class="form-group formColor">
        <div class="pet marg col-sm-6 col-sm-offset-2">
            <button id="newBtn" class="btn btn-default" type="submit">
                Submit
            </button>
        </div>
    </div>
</form>
