.inputFieldsStyle{
    border-color: rgba(0,0,0,0.1);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1.5px solid rgba(0,0,0,0.1);
    color: #3c3834;
}

.ownerDetailContainer {
    background-Color:white;
    border-radius: 10px;
    width: 550px
}

.inputLabel{
    font-size:10px;
    text-align:left;
    color:rgba(0,0,0,0.25);
}


