.parent {
    position: relative;
    height: 150px;
    width: 150px;
    top: 0;
    left: 100px;
    z-index: 50;
}

.image1 {
    position: relative;
    top: 0;
    left: 100px;
    border: 1px solid #000000;
}

.image2 {
    position: relative;
    top: 0;
    left: 100px;
    border: 1px solid #000000;
}

.fileInput {
    cursor: pointer;
    position:absolute;
    opacity: 0;
    top: 0;
    right: 0;
    left: 100px;
    height:150px;
    width:150px;
    z-index: 60;
}


