<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
<link href="form.css" rel="stylesheet" type="text/css"/>
<link href="/css/ownerdetail.css" rel="stylesheet" type="text/css"/>
<link href="/css/vets/ratings.css" rel="stylesheet" type="text/css"/>

<div class="bg-light">
    <div class="container">
        <!-- Vet Information Header -->
        <div class="py-5 text-center">
            <h2 class="titleVetForm">Vet Information</h2>
        </div>
        <hr>

        <div class="row g-5">
            <div class="col-md-6">
                <!-- Vet Information -->
                <h4>Veterinarian</h4>
                <div class="col-sm-12">
                    {{$ctrl.vet.firstName}} {{$ctrl.vet.lastName}}
                </div>
                <br>
                <hr>
                <h4>Contact information</h4>
                <br>
                <h5>Email Address</h5>
                <div class="col-6">
                    {{$ctrl.vet.email}}
                </div>
                <br>
                <h5>Phone Number</h5>
                <div class="col-sm-6">
                    {{$ctrl.vet.phoneNumber}}
                </div>
                <br>
                <hr>
                <h4>About</h4>
                <br>
                <!-- Specializations -->
                <div class="col-sm-12">
                    <h5 class="form-label">Specialisation(s)</h5>
                    <div>
                        <span ng-repeat="specialty in $ctrl.vet.specialties">{{specialty.name + ' '}}</span>
                    </div>
                </div>
                <br>
                <!-- Career Resume -->
                <div class="col-sm-12">
                    <h5 class="form-label">Career Resume</h5>
                    <div>
                        {{$ctrl.vet.resume}}
                    </div>
                </div>
                <br>
                <!-- Work Day -->
                <div class="row gy-3">
                    <div class="col-md-12">
                        <h5 class="mb-3">Availabilities</h5>
                        <div>
                            <p id="workDays">{{$ctrl.vet.workday}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Vet Profile Image -->
                <div class="parent">
                    <img alt="Profile picture preview" src="data:image/png;base64, {{$ctrl.vetPhoto.photo}}" width="150" height="150" class="image1">
                    <img alt="" src="data:image/png;base64, {{$ctrl.PreviewImage}}" ng-show="$ctrl.PreviewImage != null" width="150" height="150" class="image2"/>
                    <input type="file" accept="image/jpeg" class="fileInput" id="photoVet"/>
                </div>
                <!-- Edit Vet Button -->
                <div class="row g-3">
                    <div class="col-sm-12" style="margin: 50%">
                        <a ui-sref="vetEdit({vetId: $ctrl.vet.vetId})">
                            <button class="edit-vet-button btn btn-success large-button">Edit Vet</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Vet Education -->
        <div class="row g-5">
            <!-- Educations Header -->
            <h3 class="form-label-rating text-center" style="margin-top: 5%">Educations</h3>
            <div class="col-md-12" ng-if="$ctrl.educations.length > 0">
                <div class="col-md-12">
                    <div ng-if="$ctrl.educations.length === 0" style="text-align: center">
                        This vet has no educations listed.
                    </div>
                    <!-- Education Table -->
                    <table class="table" style="margin-bottom: 10%">
                        <thead>
                        <tr>
                            <th>Degree</th>
                            <th>Institution</th>
                            <th>Field Of Study</th>
                            <th>Start Year</th>
                            <th>End Year</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="educations in $ctrl.educations track by educations.educatonId">
                                <td>{{ educations.degree }}</td>
                                <td>{{ educations.schoolName }}</td>
                                <td>{{ educations.fieldOfStudy }}</td>
                                <td>{{ educations.startDate }}</td>
                                <td>{{ educations.endDate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
<!-- tete -->
        <!-- Ratings and Add Rating -->
        <div class="row g-5">

            <!-- Percentage of ratings -->
            <div class="col-md-6" style="margin-top: 9%">
                <h3 class="form-label-rating">Percentages of Ratings:</h3>
                <div class="container">
                <div id="ratings-list" style="text-align: left; margin-left: 40%"></div>
                </div>
            </div>

            <!-- Add Rating -->
            <div class="col-md-6">
                <div class="add-rating-container">
                    <!-- Add Rating -->
                        <div class="col-md-12">
                            <div class="add-rating-container">
                                <h3 class="form-label-rating">Add A Rating</h3>
                                <!-- Add Rating Form -->
                                <form enctype="multipart/form-data" id="ratingForm" name="ratingForm">
                                    <div class="col-sm-12 form-label-rating">
                                        <select name="rateScore" id="ratingScore" ng-model="rating.rateScore">
                                            <option value="1">1/5</option>
                                            <option value="2">2/5</option>
                                            <option value="3">3/5</option>
                                            <option value="4">4/5</option>
                                            <option value="5">5/5</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12">
                                        <h5 class="form-label">Review Description</h5>
                                        <textarea class="form-control" id="ratingDescription" maxlength="350" name="description"
                                                  ng-model="rating.rateDescription" pattern="^(.*)" placeholder="Description"
                                                  title="Maximum of 350 characters."></textarea>
                                    </div>
                                    <br />
                                    <button class="btn btn-primary ratingButton" ng-click="$ctrl.submitRatingForm(ratingForm)" type="submit">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        <!-- Ratings Chart -->
        <div class="col-md-12" ng-if="$ctrl.ratings.length > 0" style="margin-top: 5%">
            <div class="col-md-12">
                <h3 class="form-label-rating text-center">Ratings</h3>
                <div ng-if="$ctrl.ratings.length === 0" style="text-align: center">
                    This vet has no ratings.
                </div>
                <!-- Ratings Table -->
                <table class="table" style="margin-bottom: 10%">
                    <thead>
                    <tr>
                        <th>Rating</th>
                        <th>Description</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rating in $ctrl.ratings track by rating.ratingId" ng-if="$ctrl.ratings.length > 0">
                        <td>{{ rating.rateScore }} / 5</td>
                        <td>{{ rating.rateDescription }}</td>

                        <!-- Rating Update Form -->
                        <td>
                            <form enctype="multipart/form-data" id="updateForm" name="updateForm">
                                <div class="col-sm-12" name="ratingUpdate" id="ratingUpdate" style="display: none">
                                    <select name="ratingOptions" id="ratingOptions">
                                        <option value="1">1/5</option>
                                        <option value="2">2/5</option>
                                        <option value="3">3/5</option>
                                        <option value="4">4/5</option>
                                        <option value="5">5/5</option>
                                    </select>
                                    <br />
                                    <h5 class="form-label">Review Description</h5>
                                    <textarea class="form-control" id="updateDescription" maxlength="350" name="updateDescription"
                                              ng-model="rating.rateDescription" pattern="^(.*)" placeholder="Update Description"
                                              title="Maximum of 350 characters."></textarea>
                                </div>
                            </form>

                            <button class="update-vet-button btn btn-success" id="updateRatingBtn"
                                    ng-click="$ctrl.updateRating(rating.ratingId, updateForm)">
                                Update
                            </button>
                        </td>
                        <td>
                            <a class="btn btn-danger ratingButton" href="javascript:void(0)" ng-click="deleteVetRating(rating.ratingId)">Delete Rating</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

