<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-sm p-4" style="max-width: 600px; width: 100%;">
        <h4 class="mb-4 text-center">Add New Product</h4>
        <div class="p-3 formColor m-0">
            <form id="shopProductForm" class="form-horizontal" enctype="multipart/form-data" ng-submit="$ctrl.submitProductForm()">

                <div class="form-group mb-3">
                    <label class="control-label" for="item">Product Name</label>
                    <input class="form-control" id="item" ng-model="$ctrl.product.productName" name="productName" type="text" placeholder="Please enter product name." required title="Please enter product name." />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label" for="description">Description</label>
                    <input class="form-control" id="description" ng-model="$ctrl.product.productDescription" name="productDescription" type="text" placeholder="Please enter product description." required title="Please enter product description." />
                </div>

                <div class="form-group mb-3">
                    <label class="control-label" for="quantity">Quantity</label>
                    <input class="form-control" id="quantity" min="0" ng-model="$ctrl.product.productQuantity" name="productQuantity" type="number" required title="Please enter quantities." />
                </div>

                <div class="form-group mb-4">
                    <label class="control-label" for="salePrice">Sale Price</label>
                    <input class="form-control" id="salePrice" step="0.01" min="0.01" ng-model="$ctrl.product.productSalePrice" name="productSalePrice" type="number" required title="Please enter the sale price." />
                </div>

                <div class="text-center">
                    <div class="owner marg col-sm-6">
                        <button id="newBtn" class="btn btn-primary px-4" type="submit">Submit</button>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
