.markdown {
    padding: 10px;
    text-align: start;
    max-height: 700px;
    overflow-y: auto;
}

.markdown :is(h1, h2, h3, h4, h5, h6) {
    text-align: start;
    justify-content: start;
}

.markdown ul {
    padding: 0;
}

.markdown ol {
    margin-left: 20px;
    padding: 0;
}

.markdown li::marker {
    font-weight: bold;
}

.markdown blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    margin: 1rem 0;
    color: #555;
}

.markdown.unlimited-size {
    max-height: none;
}