.reviewbox-container {
  display: flex;
  flex-direction: column;
}

.review-box {
  padding-top: 10px;
  height: 15vh;
  text-align: left;
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247);
}

.reviewbox-container > button {
  width: 10vw;
}

.past-review {
  width: 50vw;
  word-wrap: break-word;
  white-space: normal;
}
