.product-list-container {
  position: relative;
  min-height: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition: opacity 0.3s ease;
}

.products-sidebar {
  position: fixed;
  top: 0;
  right: -1000px;
  width: 429px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 999;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
}

.products-sidebar.open {
  left: 0;
}

.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 20px;
}
.close-button:hover {
  background-color: none;
}
.filter-container h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

.filter-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
}

.filter-container input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.apply-filter-button {
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.apply-filter-button:hover {
  background-color: #0d0d0d;
}

.toggle-sidebar-button {
  position: relative;
  margin: 20px auto;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.toggle-sidebar-button:hover {
  background-color: #1b1b1b;
}

@media (max-width: 768px) {
  .toggle-sidebar-button {
    width: 100%;
    text-align: center;
  }
}

.clear-filter-button {
  padding: 10px;
  background-color: #000000;
  color: #0021dc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.clear-filter-button:hover {
  background-color: #888888;
}
