.star-shown {
  fill: #fecf0a;
}

.star-hover:hover {
  fill: #fecf0a;
}

.star-pointer {
  cursor: pointer;
}

.delete-button-rating {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #aa1515;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partial-star {
  overflow: hidden;
  position: absolute;
  top: 0;
}

.empty-star {
  display: inline-block;
  fill: #c5cad4;
}

.star-container {
  display: flex;
  flex-direction: row;
}

.star-inner-container {
  position: relative;
}
