h2, .wishlist-btn{
  display: flex;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;

}

.wishlist-btn{
  margin-top: 10px;
  margin-left: 170px;
  border: 1px solid black ;
  border-radius: 6px;
}

.wishlist-btn:hover{
  color: white;
  background-color: none;
}

.wishlist-btn-icon{
  font-size:  16px;
  color: inherit;
}


.line{
  border-bottom: 2px solid black;
  width: 460px;
  margin: 10px 0;
}

.box-details{
  display: inline-block;
  padding: 0 12px;
  background: white;
  color: #333;
  border: 1px solid black ;
  border-radius: 6px;
  text-align: center;
  font-size: 0.9rem;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}

.prod-price{
  font-size: 2.5rem;
  margin-bottom: 0;
}

.prod-desc-title{
  font-size: 1.4rem;
  font-family: 'Roboto';
}

.prod-description{
  font-size: 0.9rem;
  margin-top: 8px;

}

.cart-box{
  display: flex;
  align-items: center;  
}

.quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 0.5px solid ;
  border-radius: 6px;;
  width: 120px;
}

.qty-btn{
  padding: 0.5px 10px;
  width: 95px;
  height: 25px;
  color: black;
  font-size: 1.rem;
  cursor: pointer;
  background-color: white;
  transition: background 0.2s, color 0.2s;
}

.qty-btn:hover{
  color: white;
  background-color: none;
}

.qty-input{
  font-size: 1rem;
  border: 0.5px solid;
  border-radius: 0;
  padding: 5px 15px;
  text-align: center;
  pointer-events: none;
  height: 30px;
  width: 45px;


}

.cartactions-container > button {
  padding: 5px 15px;
  background-color: #007bff; 
  width: 350px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
  margin-left: 30px;
}

.review-nums{
  font-size: 0.7rem;
  margin-top: 12px;
}

.inStock{
  color: green;
}

.outOfStock{
  color:red;
}

.lowStock{
  color: #FFC107;
}





.edit-button {
  padding: 12px 20px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.edit-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.edit-button:active {
  transform: translateY(0);
}

.edit-button:focus {
  outline: 2px dashed #218838;
  outline-offset: 2px;
}

.reviewbox {
  background-color: #dddddd;
  width: 50vw;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.product-container {
  margin: 5vw;
  display: grid;
  grid-template-columns: 0.75fr 0.5fr;
}
.no-grid .product-container {
  display: block;
  justify-content: center;
  align-items: center;
}

.productimage-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  align-items: center;
  justify-content: center;
}

.productimage-container > div > img {
  height: 50vh;
  width: auto;
  object-fit: contain;
}

.productdetails-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productdetails-container > h2 {
  text-align: left;
}

.avgrating-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.avgrating-container > h3 {
  margin: 0;
  font-size: 22px;
}



.productadmin-container {
  display: flex;
  justify-content: right;
}

@media only screen and (max-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }

  .productadmin-container {
    justify-content: left;
  }
}

.review-section-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.reviewproduct-container > h2 {
  text-align: left;
}

.reviewsforproduct-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.reviewbox > p {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.product-unavailable {
  margin-bottom: 20px;
  border: 2px solid #b5b5b5;
  border-radius: 8px;
  background-color: #e8e8e8;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
  display: block;

  .deliveryTypeEdit-container {
    display: flex;
    justify-content: center;
    background-color: #93d2fb;
    border-radius: 5px;
    color: #2375d9;
    padding-right: 0;
    margin-right: 0;
  }
}
.product-unavailable h2 {
  color: #808080;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
.product-unavailable h3 {
  color: #808080;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}

/*.list-container{*/
/*  margin-bottom: 20px;*/
/*  border: 2px solid #b5b5b5;*/
/*  border-radius: 8px;*/
/*  background-color: #e8e8e8;*/
/*  padding: 20px;*/
/*  max-width: 1600px;*/
/*  margin: 0 auto;*/
/*}*/
/*.list-container h2 {*/
/*  color: #808080;*/
/*  text-align: center;*/
/*  margin-bottom: 15px;*/
/*  font-weight: bold;*/
/*}*/
