.edit-button {
  padding: 12px 20px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.edit-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.edit-button:active {
  transform: translateY(0);
}

.edit-button:focus {
  outline: 2px dashed #218838;
  outline-offset: 2px;
}

.reviewbox {
  background-color: #dddddd;
  width: 50vw;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.product-container {
  margin: 5vw;
  display: grid;
  grid-template-columns: 0.75fr 0.5fr;
}
.no-grid .product-container {
  display: block;
  justify-content: center;
  align-items: center;
}

.productimage-container {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  align-items: center;
  justify-content: center;
}

.productimage-container > div > img {
  height: 50vh;
  width: auto;
  object-fit: contain;
}

.productdetails-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productdetails-container > h2 {
  text-align: left;
}

.avgrating-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.avgrating-container > h3 {
  margin: 0;
}

.cartactions-container > button {
  width: 30%;
}

.productadmin-container {
  display: flex;
  justify-content: right;
}

@media only screen and (max-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }

  .productadmin-container {
    justify-content: left;
  }
}

.review-section-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.reviewproduct-container > h2 {
  text-align: left;
}

.reviewsforproduct-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
}

.reviewbox > p {
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}
.product-unavailable {
  margin-bottom: 20px;
  border: 2px solid #b5b5b5;
  border-radius: 8px;
  background-color: #e8e8e8;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
  display: block;

  .deliveryTypeEdit-container {
    display: flex;
    justify-content: center;
    background-color: #93d2fb;
    border-radius: 5px;
    color: #2375d9;
    padding-right: 0;
    margin-right: 0;
  }
}
.product-unavailable h2 {
  color: #808080;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
.product-unavailable h3 {
  color: #808080;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}

/*.list-container{*/
/*  margin-bottom: 20px;*/
/*  border: 2px solid #b5b5b5;*/
/*  border-radius: 8px;*/
/*  background-color: #e8e8e8;*/
/*  padding: 20px;*/
/*  max-width: 1600px;*/
/*  margin: 0 auto;*/
/*}*/
/*.list-container h2 {*/
/*  color: #808080;*/
/*  text-align: center;*/
/*  margin-bottom: 15px;*/
/*  font-weight: bold;*/
/*}*/
