.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: white;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    max-width: 800px;
    height: 85%;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px solid whitesmoke;
}

.form-container h2 {
    margin-top: 0;
}

.form-container form > div {
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Buttons */
.form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container button.cancel {
  background-color: #6c757d;
}

.form-container button.cancel:hover {
  background-color: #5a6268;
}

#x-button {
  border: 2px solid yellow;
  margin-left: auto;
}

#first-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

#second-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #80bdff;
  height: 100px;
}

#third-row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #80bdff;
  height: 100px;
}

#fourth-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #80bdff;
  height: 100px;
}

#fifth-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#first-item {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 50%;
  padding-right: 20px;
}

#second-item {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 50%;
}

#third-item {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 50%;
  padding-right: 20px;
  flex-direction: column;
}

#fourth-item {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 50%;
}

#fifth-item {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 50%;
  padding-right: 20px;
}

#sixth-item {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 50%;
}

.p-elements {
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
  white-space: nowrap;
}

.custom-input {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  height: 30px;
}

.custom-input:focus {
  border: none;
  border-bottom: 2px solid black;
  box-shadow: none;
}
