.labelContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.uploadIcon {
  margin: 0;
  margin-left: 50px;
  border: 1px solid yellow;
  height: 32px;
  width: 32px;
}
