#menuSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#menuContainer {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: 8%;
}

#menuIcon {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

#menuIcon:hover {
  box-shadow: 0 0 10px 3px rgba(0, 196, 255, 0.7);
  border: none;
}

#actionsMenu {
  border: 1px solid #ccc;
  position: absolute;
  top: 80px;
  right: 30px;
  width: 700px;
  height: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  padding-bottom: 30px;
}

.confirmDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.table {
  padding-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.addInventorytypeButton {
  text-align: right;
  float: right;
  margin-right: 25px;
}
