.login-container {
  width: 425px;
  height: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transition: all 0.3s ease;
}

.login-container h1 {
  margin-bottom: 30px;
  font-size: 48px;
  color: #333;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  text-align: left;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.icon-eye {
  position: absolute;
  top: -10%;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
} 

.input-wrapper  {
  position: relative;
  display: inline-block;
  width: 100%;
  
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: transparent;
  background: transparent;
  cursor: pointer;
        }
button:hover {
  background-color:transparent;
opacity: 0.9; }

button[type='submit'] {
  width: 100%;
  height: 45px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #45a049;
}

button[type='submit']:active {
  background-color: #3e8e41;
  transform: scale(0.98);
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url('@/assets/Login/background-pattern.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  overflow: hidden;
}

.slideshow-container {
  flex-grow: 1;
  height: 100vh;
  margin-left: 455px;
  position: relative;
  overflow: hidden;
  transition: opacity 0.5s ease;
}

.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
  transition: opacity 0.5s ease;
}

.slideshow-container img.fade-out {
  opacity: 0;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #d07834;
  text-decoration: none;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  white-space: nowrap;
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 1000;
}

.back-button:hover {
  background-color: #a96128;
  color: #ffffff;
}

.back-button:active {
  background-color: #6e3f19;
  transform: scale(0.98);
}

.signup-button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  margin: 5px 0;
}

.link:hover {
  color: #0056b3;
}

.separator {
  width: 90%;
  border: none;
  border-top: 2px solid black;
  margin: 10px 0;
}
