server.port: 7001
server.error.include-message: always

app:
  vet-service:
    host: localhost
    port: 7002
  customers-service-reactive:
    host: localhost
    port: 8090


logging:
  level:
    root: INFO
    com.petclinic: DEBUG

spring:
  config:
    activate:
      on-profile: default
  data:
    mongodb:
      port: 0
      database: visits
de.flapdoodle.mongodb.embedded.version: 5.0.5

---
spring:
  config:
    activate:
      on-profile: integration
  data:
    mongodb:
      host: localhost
      port: 27017
      database: visits
      username: root
      password: password
      authentication-database: admin
---
spring:
  config:
    activate:
      on-profile: docker
  data:
    mongodb:
      host: mongo2
      port: 27017
      database: visits
      username: root
      password: password
      authentication-database: admin

---
spring:
  config:
    activate:
      on-profile: docker

app:
  vet-service:
    host: vet-service
    port: 8080
  customers-service-reactive:
    host: customers-service-reactive
    port: 8080

logging:
  level:
    root: INFO
    com.petclinic: DEBUG