<h2 class="titleOwner">Bill History</h2>

<form>
    <div>
        <input type="text" placeholder="Search Filter..." class="form-control" ng-model="$ctrl.query">
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Bill ID</td>
            <td>Visit Type</td>
            <td>Amount</td>
            <td>Date/Time</td>
        </tr>
    </thead>

    <tr id="billId" ng-repeat="bill in $ctrl.billHistory | filter:$ctrl.query track by bill.billId">
        <td>{{bill.billId}}</td>
        <td>{{bill.visitType}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.date}}</td>
    </tr>
</table>