<h2 class="titleOwner">Bill History</h2>

<form>
    <div>
        <input type="text" placeholder="Search Filter..." class="form-control" ng-model="$ctrl.query">
        <br>
    </div>
</form>
<a ui-sref="billNew">
    <button class="add-bill-button btn btn-success">Add Bill</button>
</a><br><br>


<input ng-model="search.customerId" placeholder="Filter by Owner ID">
<input ng-model="search.vetId" placeholder="Filter by Vet ID">
<br><br>

<button type="button" class="collapsible" data-section="Paid">Open Paid</button>
<table class="content table table-striped">
    <thead>
    <tr>
        <td>Bill ID</td>
        <td>Owner ID</td>
        <td>Owner Name</td>
        <td>Owner Details</td>
        <td>Vet ID</td>
        <td>Vet Name</td>
        <td>Visit Type</td>
        <td>Amount</td>
        <td>Status</td>
        <td>Date</td>
        <td>Details</td>
        <td>Delete</td>

    </tr>
    </thead>

    <tr id="billIdPaid" ng-repeat="paidBill in $ctrl.paidBills | filter:$ctrl.query track by paidBill.billIdPaid">
    <tr ng-repeat="paidBill in $ctrl.paidBills | filter:search:strict">
        <td><a href="http://localhost:8080/#!/bills/details/{{paidBill.billId}}/owner/{{paidBill.customerId}}">{{paidBill.billId}}</a></td>
        <td>{{paidBill.customerId}}</td>
        <td>{{ getCustomerDetails(paidBill.customerId) }}</td>
        <td><a href="http://localhost:8080/#!/owners/details/{{paidBill.customerId}}">Owner details</a></td>
        <td>{{paidBill.vetId}}</td>
        <td>{{ getVetDetails(paidBill.vetId) }}</td>
        <td>{{paidBill.visitType}}</td>
        <td>{{paidBill.amount}}</td>
        <td>{{paidBill.billStatus}}</td>
        <td>{{paidBill.date}}</td>
        <td><a href="http://localhost:8080/#!/bills/details/{{paidBill.billId}}/owner/{{paidBill.customerId}}">Get Details</a></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBill(paidBill.billId)">Delete Bill</a></td>
    </tr>
</table>
<br><br>
<button type="button" class="collapsible" data-section="Unpaid">Open Unpaid Bills</button>
<table class="content table table-striped">
    <thead>
    <tr>
        <td>Bill ID</td>
        <td>Owner ID</td>
        <td>Owner Name</td>
        <td>Owner Details</td>
        <td>Vet ID</td>
        <td>Vet Name</td>
        <td>Visit Type</td>
        <td>Amount</td>
        <td>Status</td>
        <td>Date</td>
        <td>Details</td>
        <td>Delete</td>

    </tr>
    </thead>

    <tr id="billIdUnpaid" ng-repeat="unpaidBill in $ctrl.unpaidBills | filter:$ctrl.query track by unpaidBill.billIdUnpaid">
    <tr ng-repeat="unpaidBill in $ctrl.unpaidBills | filter:search:strict">
        <td><a href="http://localhost:8080/#!/bills/details/{{unpaidBill.billId}}/owner/{{unpaidBill.customerId}}">{{unpaidBill.billId}}</a></td>
        <td>{{unpaidBill.customerId}}</td>
        <td>{{ getCustomerDetails(unpaidBill.customerId) }}</td>
        <td><a href="http://localhost:8080/#!/owners/details/{{unpaidBill.customerId}}">Owner details</a></td>
        <td>{{unpaidBill.vetId}}</td>
        <td>{{ getVetDetails(unpaidBill.vetId) }}</td>
        <td>{{unpaidBill.visitType}}</td>
        <td>{{unpaidBill.amount}}</td>
        <td>{{unpaidBill.billStatus}}</td>
        <td>{{unpaidBill.date}}</td>
        <td><a href="http://localhost:8080/#!/bills/details/{{unpaidBill.billId}}/owner/{{unpaidBill.customerId}}">Get Details</a></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBill(unpaidBill.billId)">Delete Bill</a></td>
    </tr>
</table>

<br><br>
<button type="button" class="collapsible" data-section="Overdue">Open Overdue Bills</button>
<table class="content table table-striped">
    <thead>
    <tr>
        <td>Bill ID</td>
        <td>Owner ID</td>
        <td>Owner Name</td>
        <td>Owner Details</td>
        <td>Vet ID</td>
        <td>Vet Name</td>
        <td>Visit Type</td>
        <td>Amount</td>
        <td>Status</td>
        <td>Date</td>
        <td>Details</td>
        <td>Delete</td>

    </tr>
    </thead>

    <tr id="billIdOverdue" ng-repeat="overdueBill in $ctrl.overdueBills | filter:$ctrl.query track by overdueBill.billIdOverdue">
    <tr ng-repeat="overdueBill in $ctrl.overdueBills | filter:search:strict">
        <td><a href="http://localhost:8080/#!/bills/details/{{overdueBill.billId}}/owner/{{overdueBill.customerId}}">{{overdueBill.billId}}</a></td>
        <td>{{overdueBill.customerId}}</td>
        <td>{{ getCustomerDetails(overdueBill.customerId) }}</td>
        <td><a href="http://localhost:8080/#!/owners/details/{{overdueBill.customerId}}">Owner details</a></td>
        <td>{{overdueBill.vetId}}</td>
        <td>{{ getVetDetails(overdueBill.vetId) }}</td>
        <td>{{overdueBill.visitType}}</td>
        <td>{{overdueBill.amount}}</td>
        <td>{{overdueBill.billStatus}}</td>
        <td>{{overdueBill.date}}</td>
        <td><a href="http://localhost:8080/#!/bills/details/{{overdueBill.billId}}/owner/{{overdueBill.customerId}}">Get Details</a></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBill(overdueBill.billId)">Delete Bill</a></td>
    </tr>
</table>
<br><br>
<h3>All Bills</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Bill ID</td>
            <td>Owner ID</td>
            <td>Owner Name</td>
            <td>Owner Details</td>
            <td>Vet ID</td>
            <td>Vet Name</td>
            <td>Visit Type</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Date</td>
            <td>Details</td>
            <td>Delete</td>

        </tr>
    </thead>

    <tr id="billId" ng-repeat="bill in $ctrl.billHistory | filter:$ctrl.query track by bill.billId">
    <tr ng-repeat="bill in $ctrl.billHistory | filter:search:strict">
    <td><a href="http://localhost:8080/#!/bills/details/{{bill.billId}}/owner/{{bill.customerId}}">{{bill.billId}}</a></td>
        <td>{{bill.customerId}}</td>
        <td>{{ getCustomerDetails(bill.customerId) }}</td>

        <td><a href="http://localhost:8080/#!/owners/details/{{bill.customerId}}">Owner details</a></td>
        <td>{{bill.vetId}}</td>
    <td>{{ getVetDetails(bill.vetId) }}</td>
        <td>{{bill.visitType}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.billStatus}}</td>
        <td>{{bill.date}}</td>
        <td><a href="http://localhost:8080/#!/bills/details/{{bill.billId}}/owner/{{bill.customerId}}">Get Details</a></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBill(bill.billId)">Delete Bill</a></td>
    </tr>
</table>
<style>
    /* Style the collapsible content. Note: hidden by default */
    .content {
        display: none;
        overflow: hidden;
    }
    .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 10px;
        border: none;
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        text-decoration: underline;
    }

    .active, .collapsible:hover {
        background-color: #ccc;
    }

</style>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                this.textContent = "Open " + this.getAttribute("data-section") + " Bills";

            } else {
                content.style.display = "block";
                this.textContent = "Close " + this.getAttribute("data-section") + " Bills";

            }
        });
    }
</script>
