<link href="/css/ownerdetail.css" rel="stylesheet" type="text/css"/>

<div class="bColor"><h2 class="titleOwner form">Owner Information</h2></div>

<table class="table table-striped">
    <tr>
        <td rowspan="5">
            <div class="parent">
                <img alt="Profile picture preview" src="data:image/png;base64, {{$ctrl.ownerPhoto.photo}}" width="150" height="150" class="image1">
                <img alt="" src="data:image/png;base64, {{$ctrl.PreviewImage}}" ng-show="$ctrl.PreviewImage != null" width="150" height="150" class="image2"/>
                <input type="file" accept="image/jpeg" class="fileInput" id="photoOwner"/>
            </div>
        </td>
        <th class="col-sm-3">Name</th>
        <td id="tableName"><b>{{$ctrl.owner.firstName}} {{$ctrl.owner.lastName}}</b></td>

    </tr>
    <tr>
        <th>Address</th>
        <td>{{$ctrl.owner.address}}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{$ctrl.owner.city}}</td>
    </tr>
    <tr>
        <th>Telephone</th>
        <td>{{$ctrl.owner.telephone}}</td>
    </tr>

    <tr>
        <td>
            <a class="newBtn btn-default btn" style="background-color: royalblue; color: white" ui-sref="ownerEdit({ownerId: $ctrl.owner.id, method: 'edit'})">Edit Owner</a>
        </td>
        <td>

        </td>
    </tr>
</table>

<div class="bColor">

    <h2 class="titleOwner form">Pets and Visits</h2>
    <a class="newBtn btn-default btn btn-success" style="background-color: #198754;" ui-sref="addPet({ownerId: $ctrl.owner.id, method: 'new-pet'})">Add Pet</a>

</div>



<table class="table table-striped">
    <tr ng-repeat="pet in $ctrl.owner.pets track by pet.id">
        <td valign="top" ng-init="$ctrl.init(pet.id)">
            <div class="parent">
                <img alt="Profile picture preview" src="data:image/png;base64, {{$ctrl.petPhoto.photo}}" width="150" height="150" class="image1">
                <img alt="" src="data:image/png;base64, {{$ctrl.PreviewImage}}" ng-show="$ctrl.PreviewImage != null" width="150" height="150" class="image2"/>
                <input type="file" accept="image/jpeg" class="fileInput" id="pet.name"/>
            </div>
        </td>
        <td valign="top">
            <dl class="dl-horizontal">

                <a class="newBtn btn-default btn btn-success" style="background-color: #198754;" ui-sref="visits({ownerId: $ctrl.owner.id, petId: pet.id})">Add Visit</a>

                <dt>Name</dt>
                <dd>{{pet.name}}</dd>
                <dt>Birth Date</dt>
                <dd>{{pet.birthDate | date:'yyyy MMM dd'}}</dd>
                <dt>Type</dt>
                <dd>{{pet.type.name}}</dd>
                <a class="newBtn btn-default btn btn-danger" style="background-color: #dc3545;" ui-sref="deletePet({ownerId: $ctrl.owner.id, petId: pet.id, method: 'delete'})">Delete Pet</a>
            </dl>
        </td>
        <td valign="top">
            <table class="noColor table-condensed">
                <thead>
                <tr>
                    <th>Visit Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tr ng-repeat="visit in pet.visits track by visit.visitId">
                    <td>{{visit.date | date:'yyyy MMM dd'}}</td>
                    <td>{{visit.description}}</td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>


                    </td>
                </tr>
            </table>
        </td>


    </tr>
    <td><a href="http://localhost:8080/#!/bills/customerId/{{$ctrl.owner.id}}">Get Bills</a></td>
</table>




