---
server:
  port: 8080

logging:
  level:
    root: INFO
    com.petclinic: DEBUG

spring:
  config:
    activate:
      on-profile: default

  r2dbc:
    url: r2dbc:h2:mem:///images
    username: user
    password: pwd

  data:
    mongodb:
      port: 0
      database: veterinarians

  mongodb:
    embedded:
      version: 4.0.21

  # set to 2MB as only file transfers are images which dont need much memory
  codec:
    max-in-memory-size: 2MB

app:
  files-service:
    host: localhost
    port: 8000

---
# for test

spring:
  config:
    activate:
      on-profile: test

  data:
    mongodb:
      username: root
      password: password
      host: localhost
      port: 0
      database: products
      authentication-database: admin
      auto-index-creation: true

app:
  files-service:
    host: localhost
    port: 8000

de:
  flapdoodle:
    mongodb:
      embedded:
        version: 4.4.0

---
spring:
  config:
    activate:
      on-profile: integration
  data:
    mongodb:
      host: localhost
      port: 27017
      database: veterinarians
      username: root
      password: password
      authentication-database: admin
  r2dbc:
    url: r2dbc:h2:mem:///images
    username: user
    password: pwd

  # set to 2MB as only file transfers are images which don't need much memory
  codec:
    max-in-memory-size: 2MB

app:
  files-service:
    host: localhost
    port: 8000

---
spring:
  config:
    activate:
      on-profile: docker

  r2dbc:
    url: r2dbc:postgresql://postgres-vet:5432/images
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  data:
    mongodb:
      host: mongo-vet
      port: 27017
      database: veterinarians
      username: ${DB_USER}
      password: ${DB_PASSWORD}
      authentication-database: admin

  # set to 2MB as only file transfers are images which don't need much memory
  codec:
    max-in-memory-size: 2MB

app:
  files-service:
    host: files-service
    port: 8000

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
logging:
  level:
    root: INFO
    com.petclinic: DEBUG
