
<h2 class="titleOwner">Bill History for vet {{$ctrl.vet.firstName}}, {{$ctrl.vet.lastName}}</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td>Bill ID</td>
        <td>Customer ID</td>
        <td>Vet ID</td>
        <td>Vet Details</td>
        <td>Details</td>
    </tr>
    </thead>

    <tr id="vetId" ng-repeat="bill in $ctrl.billsByVetId">
        <td>{{bill.billId}}</td>
        <td>{{bill.customerId}}</td>
        <td>{{bill.vetId}}</td>
        <td><a href="http://localhost:8080/#!/vets/details/{{bill.vetId}}">Vet Details</a></td>
        <td><a href="http://localhost:8080/#!/bills/details/{{bill.billId}}/owner/{{bill.customerId}}">Bill Details</a></td>
    </tr>
</table>
<a class="newBtn btn btn-primary" href="http://localhost:8080/#!/bills">
    View all Bills</a> <br>
<a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBillsByVetId(bill.vetId)">Delete All Bills</a>
