server.port: 7004

logging:
  level:
    root: INFO
    com.petclinic: DEBUG

spring:
  config:
    activate:
      on-profile: default
  data:
    mongodb:
      port: 0
      database: billings
  mongodb:
    embedded:
      version: 4.0.21

app:
  vet-service:
    host: localhost
    port: 7002
  customers-service:
    host: customers-service-reactive
    port: 8090
  auth-service:
    host: auth-service
    port: 8080
  mailer-service:
    host: mailer-service
    port: 8080
---
spring:
  config:
    activate:
      on-profile: integration
  data:
    mongodb:
      host: localhost
      port: 27017
      database: billings
      username: root
      password: password
      authentication-database: admin
---
spring:
  config:
    activate:
      on-profile: docker
  data:
    mongodb:
      host: mongo-billing
      port: 27017
      database: billings
      username: root
      password: password
      authentication-database: admin
server.port: 8080
app:
  vet-service:
    host: vet-service
    port: 8080
  customers-service:
    host: customers-service-reactive
    port: 8080
  auth-service:
    host: auth-service
    port: 8080
  mailer-service:
    host: mailer-service
    port: 8080
logging:
  level:
    root: INFO
    com.petclinic: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
server:
  error:
    include-message: always

    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
#---
#spring.profiles: h2
#
#spring:
#  h2:
#    console:
#      enabled: true
#
#  datasource:
#    platform: h2
#    url: jdbc:h2:mem:billing-db;DB_CLOSE_DELAY=-1
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#    initialization-mode: always
#
#
#spring.datasource.hikari.initializationFailTimeout: 60000
#
#---
#spring.profiles: docker
#
#  spring:
#    r2dbc:
#      url: r2dbc:mysql://mysql5/billing-db
#      username: user
#      password: pwd
#  #  datasource:
#  #    platform: mysql
#  #    initialization-mode: always
#
#spring.datasource.hikari.initializationFailTimeout: 60000

