/*
 * Copyright 2016 the original author or authors.
 *
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@font-face {
  font-family: 'varela_roundregular';
  src: url('../resources/static/fonts/varela_round-webfont.eot');
  src: url('../resources/static/fonts/varela_round-webfont.eot?#iefix') format('embedded-opentype'), url('../resources/static/fonts/varela_round-webfont.woff') format('woff'), url('../resources/static/fonts/varela_round-webfont.ttf') format('truetype'), url('../resources/static/fonts/varela_round-webfont.svg#varela_roundregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url('../resources/static/fonts/montserrat-webfont.eot');
  src: url('../resources/static/fonts/montserrat-webfont.eot?#iefix') format('embedded-opentype'), url('../resources/static/fonts/montserrat-webfont.woff') format('woff'), url('../resources/static/fonts/montserrat-webfont.ttf') format('truetype'), url('../resources/static/fonts/montserrat-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body,
h1,
h2,
h3,
p,
input {
  margin: 0;
  font-weight: 400;
  font-family: "varela_roundregular", sans-serif;
  color: #34302d;
}
h1 {
  font-size: 24px;
  line-height: 30px;
  font-family: "montserratregular", sans-serif;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  font-family: "montserratregular", sans-serif;
}
h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
strong {
  font-weight: 700;
  font-family: "montserratregular", sans-serif;
}
.navbar {
  border-top: 4px solid #6db33f;
  background-color: #34302d;
  margin-bottom: 0px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.navbar a.navbar-brand {
  background: url("../resources/static/images/spring-logo-dataflow.png") -1px -1px no-repeat;
  margin: 12px 0 6px;
  width: 229px;
  height: 46px;
  display: inline-block;
  text-decoration: none;
  padding: 0;
}
.navbar a.navbar-brand span {
  display: block;
  width: 229px;
  height: 46px;
  background: url("../resources/static/images/spring-logo-dataflow.png") -1px -48px no-repeat;
  opacity: 0;
  -moz-transition: opacity 0.12s ease-in-out;
  -webkit-transition: opacity 0.12s ease-in-out;
  -o-transition: opacity 0.12s ease-in-out;
}
.navbar a:hover.navbar-brand span {
  opacity: 1;
}
.navbar li > a,
.navbar-text {
  font-family: "montserratregular", sans-serif;
  text-shadow: none;
  font-size: 14px;
  /* line-height: 14px; */
  padding: 28px 20px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}
.navbar li > a {
  text-transform: uppercase;
}
.navbar .navbar-text {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar li:hover > a {
  color: #eeeeee;
  background-color: #6db33f;
}
.navbar-toggle {
  border-width: 0;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
.navbar-toggle .icon-bar {
  width: 19px;
  height: 3px;
}
.table > thead > tr > th {
  background-color: #3c3834;
  color: #f1f1f1;
}
.table-filter {
  background-color: #34302D;
  padding: 9px 12px;
}
.nav > li > a {
  color: #838789;
}
.btn-default {
  border-width: 2px;
  transition: border 0.15s;
  -webkit-transition: border 0.15s;
  -moz-transition: border 0.15s;
  -o-transition: border 0.15s;
  -ms-transition: border 0.15s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #34302D;
  border-color: #34302D;
}
.container .text-muted {
  margin: 20px 0;
}
code {
  font-size: 80%;
}
.xd-container {
  margin-top: 40px;
  margin-bottom: 100px;
  padding-left: 5px;
  padding-right: 5px;
}
h1 {
  margin-bottom: 15px;
}
.index-page--subtitle {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 30px;
}
.form-horizontal button.btn-inverse {
  margin-left: 32px;
}
#job-params-modal .modal-dialog {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
[ng-cloak].splash {
  display: block !important;
}
[ng-cloak] {
  display: none;
}
.splash {
  background: #6db33f;
  color: #34302D;
  display: none;
}
.error-page {
  margin-top: 100px;
  text-align: center;
}
.error-page .error-title {
  font-size: 24px;
  line-height: 24px;
  margin: 30px 0 0;
}
table td {
  vertical-align: middle;
}
table td .progress {
  margin-bottom: 0;
}
table td.action-column {
  width: 1px;
}
.help-block {
  color: #b6afaa;
}
.xd-containers {
  font-size: 15px;
}
.cluster-view > table td {
  vertical-align: top;
}
.cluster-view .label,
.cluster-view .column-block {
  display: block;
}
.cluster-view .input-group-addon {
  width: 0%;
}
.cluster-view {
  margin-bottom: 0;
}
/*.deployment-status-deployed {
  .label-success;
}

.deployment-status-incomplete {
  .label-warning;
}

.deployment-status-failed {
  .label-danger;
}

.deployment-status-deploying {
  .label-info
}
.deployment-status-na {
}
*/
.container-details-table th {
  background-color: #3c3834;
  color: #f1f1f1;
}
.status-help-content-table td {
  color: #34302D;
}
/*
.alert-success {
  .alert-variant(fade(@alert-success-bg, 70%); @alert-success-border; @alert-success-text);
}
.alert-info {
  .alert-variant(fade(@alert-info-bg, 70%); @alert-info-border; @alert-info-text);
}
.alert-warning {
  .alert-variant(fade(@alert-warning-bg, 70%); @alert-warning-border; @alert-warning-text);
}
.alert-danger {
  .alert-variant(fade(@alert-danger-bg, 70%); @alert-danger-border; @alert-danger-text);
}
*/
.myspinner {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-transform-origin: 49% 50%;
  -webkit-animation-name: spinner;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
hr {
  border-top: 1px dotted #34302D;
}
@media (max-width: 768px) {
  .navbar-toggle {
    position: absolute;
    z-index: 9999;
    left: 0px;
    top: 0px;
  }
  .navbar a.navbar-brand {
    display: block;
    margin: 0 auto 0 auto;
    width: 148px;
    height: 50px;
    float: none;
    background: url("../resources/static/images/spring-logo-dataflow-mobile.png") 0 center no-repeat;
  }
  .homepage-billboard .homepage-subtitle {
    font-size: 21px;
    line-height: 21px;
  }
  .navbar a.navbar-brand span {
    display: none;
  }
  .navbar {
    border-top-width: 0;
  }
  .xd-container {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .index-page--subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
