<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/vets/form.css" type="text/css"/>
<!--Required styling links -->

<div class="bg-light">
  <div class="container">
    <div class="py-5 text-center"/>
    <h2 class="titleVetForm">New Vet Sign Up</h2>
    <p class="lead">Welcome to our team, please fill out the form below ensuring to fill all sections.</p>
  </div>
  <div class="row g-5">
    <div class="col-md-7 col-lg-12">
      <form id="vetForm" enctype="multipart/form-data" name="vetForm">
        <div class="row g-3">
          <div class="col-sm-6">
            <input class="form-control" name="firstName" type="text" ng-model="vet.firstName" placeholder="First Name" pattern="^(a-z| |,|.|-)+" required maxlength="30" minlength="3" title="Minimum of 3 characters and maximum of 30 characters. Only letters and punctuation mark."><br/>
          </div>

          <div class="col-sm-6">
            <input class="form-control" name="lastName" type="text" ng-model="vet.lastName" placeholder="Last Name" pattern="^(a-z| |,|.|-)+" required maxlength="30" minlength="3" title="Minimum of 3 characters and maximum of 30 characters. Only letters and punctuation mark.">
          </div>

          <div class="col-12">
            <input class="form-control" name="email" type="email" ng-model="vet.email" placeholder="Email" pattern="\b[\w.%-]+@[-.\w]+\.[A-Za-z]{2,5}\b" required maxlength="100" minlength="5" title="Minimum of 5 characters and maximum of 100 characters. Top level domain should have 2 to 5 characters.">
          </div>

          <div class="col-sm-12">
            <input class="form-control" type="number" name="phoneNumber" ng-model="vet.phoneNumber" placeholder="Phone Number" required maxlength="30" minlength="4" title="Accepts only numbers for a minimum of 4 characters and maximum of 30 characters.">
          </div>

          <hr class="my-4"/>


          <div class="row g-3">
            <div class="col-sm-6">
              <h5 class="form-label">Profile Picture</h5>
              <span id="checkmarkPic" style="display: none">&#10003;</span>
              <input class="form-control"
                     id="profilePicture"
                     type="file"
                     name="profilePicture"
                     accept="image/*"
                     ng-model="vet.profilePicture"
                     onchange="uploadPicture(event)"/>
            </div>
            <div class="col-sm-6">
              <img class="img-preview" alt="Profile picture preview" id="preview" height="130px"
                   width="130px"/>
            </div>
          </div>
          <div class="col-sm-12">
            <span ng-show="vetForm.profilePicture.$error.required" class="help-block">Only .png, .pdf, .jpeg and .gif accepted</span>
          </div>

          <!-- remove script and place in required file -->
          <script>
            let uploadPicture = function (event) {
              let preview = document.getElementById('preview');
              let checkmark = document.getElementById('checkmarkPic');
              if (document.getElementById('profilePicture') != null) {
                checkmark.style.display = "inline";
              }
              preview.src = URL.createObjectURL(event.target.files[0]);
              preview.onload = function () {
                URL.revokeObjectURL(preview.src)
              }
            };
          </script>
          <hr class="my-4"/>

          <div class="col-sm-12">
            <h5 class="form-label">Career Resume</h5>
            <textarea class="form-control" placeholder="Resume" name="resume" ng-model="vet.resume" pattern="^(.*)" maxlength="350" title="Maximum of 350 characters."></textarea>
          </div>

        <hr class="my-4"/>

        <div class="row gy-3">
          <div class="col-md-12">
            <h5 class="mb-3">Specialty</h5>
            <input class="form-control" type="text" name="speciality" ng-model="vet.speciality" placeholder="Specialty" pattern="^(a-z| |,|.|-)+" maxlength="80" title="Maximum of 80 characters. No numbers.">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="my-3 check-align">
            <h5 class="mb-3">Available Work Days</h5>
            <div class="col-sm-12">
            <input class="form-control" type="text" placeholder="ex:Monday, Tuesday" name="workday" ng-model="vet.workday" pattern="((\bMonday\b|\bTuesday\b|\bWednesday\b|\bThursday\b|\bFriday\b|\bSaturday\b|\bSunday\b)(,|)( |))+" maxlength="250" title="Maximum of 250 characters. Accepts only days of the week seperated by commas.">
            </div>
          </div>
        </div>


        <div class="my-3 check-align">
          <h5 class="mb-3">Active Vet</h5>

          <div class="form-check">
            <label class="form-check-label vet-label-input" >
              <input class="form-check-input" type="radio" ng-model="vet.isActive" ng-value="1" name="isActive" value="1">Yes</label>
          </div>
          <div class="form-check">
            <label class="form-check-label vet-label-input" >
              <input class="form-check-input" type="radio" ng-model="vet.isActive" ng-value="0" name="isActive" value="0">No</label>
          </div>
        </div>
        <hr class="my-4"/>
        <button type="submit" class="w-100 btn btn-primary btn-lg" ng-click="$ctrl.submitVetForm(vet)">Submit</button>
      </form>
    </div>
  </div>
</div>
