<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
<link href="/css/vets/form.css" rel="stylesheet" type="text/css"/>

<div class="bg-light">
    <div class="container">
        <div class="py-5 text-center"/>
        <h2 class="titleVetForm" id="title">New Vet Sign Up</h2>
        <p class="lead">Welcome to our team, please fill out the form below ensuring to fill all sections.</p>
    </div>
    <div class="container">
        <div class="py-5 text-center"/>
    <div class="row g-5">
        <div class="col-md-7 col-lg-12">
            <form enctype="multipart/form-data" id="vetForm" name="vetForm">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h5 class="form-label">Firstname</h5>
                        <input class="form-control" id="firstName"
                               name="firstName" ng-model="vet.firstName" ng-value="$ctrl.vet.firstName"
                               placeholder="First Name" required
                               title="Minimum of 3 characters and maximum of 30 characters. Only letters and punctuation mark."
                               type="text"><br/>
                    </div>

                    <div class="col-sm-6">
                        <h5 class="form-label">Lastname</h5>
                        <input class="form-control" id="lastName"  name="lastName"
                               ng-model="vet.lastName" pattern="^[a-zA-Z -]+" placeholder="Last Name" required
                               title="Minimum of 2 characters and maximum of 30 characters. Only letters and punctuation mark."
                               type="text">
                    </div>


                    <div class="col-sm-12">
                        <h5 class="form-label">Phone Number</h5>
                        <input class="form-control" id="phoneNumber"
                               name="phoneNumber" ng-model="vet.phoneNumber" placeholder="Phone Number" required
                               title="Accepts only numbers for 4 characters." type="number">
                    </div>

                    <hr class="my-4"/>

                    <div class="parent">
                        <img alt="Profile picture preview" src="data:image/*;base64, {{$ctrl.vetPhoto.photo}}" width="150" height="150" class="image1">
                        <img alt="" src="data:image/jpeg;base64, {{$ctrl.PreviewImage}}" ng-show="$ctrl.PreviewImage != null" width="150" height="150" class="image2"/>
                        <input type="file" accept="image/jpeg" class="fileInput" id="photoVet"/>
                    </div>
                      
                    <hr class="my-4"/>

                    <div class="col-sm-12">
                        <h5 class="form-label">Career Resume</h5>
                        <textarea class="form-control" id="vetResume" name="resume"
                                  ng-model="vet.resume" pattern="^(.*)" placeholder="Resume">
                        </textarea>
                    </div>

                    <hr class="my-4"/>

                    <div class="row gy-3 ">
                        <div class="col-md-12">
                            <h5 class="mb-3">Specialty</h5>
                            <div class="form-check">
                                <input class="form-check-input specialty" id="radiology" name="specialties"
                                       ng-model="vet.specialties"
                                       ng-true-value='[{"id":1, "specialtyId":100001, "name":"radiology"}]'
                                       type="checkbox"
                                       value='{"id":1, "specialtyId":100001, "name":"radiology"}'>
                                <label class="form-check-label vet-label-input" for="radiology">Radiology</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input specialty" id="surgery"
                                       ng-true-value='[{"id":2, "specialtyId":100002, "name":"surgery"}]'
                                       type="checkbox"
                                       value='{"id":2, "specialtyId":100002, "name":"surgery"}'>
                                <label class="form-check-label vet-label-input" for="surgery">Surgery</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input specialty" id="dentistry"
                                       ng-true-value='[{"id":3, "specialtyId":100003, "name":"dentistry"}]'
                                       type="checkbox"
                                       value='{"id":3, "specialtyId":100003, "name":"dentistry"}'>
                                <label class="form-check-label vet-label-input" for="dentistry">Dentistry</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input specialty" id="general"
                                       ng-true-value='[{"id":4, "specialtyId":100004, "name":"general"}]'
                                       type="checkbox"
                                       value='{"id":4, "specialtyId":100004, "name":"general"}'>
                                <label class="form-check-label vet-label-input" for="general">General</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="my-3 check-align">
                            <h5 class="mb-3">Available Work Days</h5>
                            <div class="form-check">
                                <input class="form-check-input workday" id="Monday" type="checkbox" value='Monday'>
                                <label class="form-check-label vet-label-input" for="Monday">Monday</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input workday" id="Tuesday" type="checkbox" value='Tuesday'>
                                <label class="form-check-label vet-label-input" for="Tuesday">Tuesday</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input workday" id="Wednesday" type="checkbox" value='Wednesday'>
                                <label class="form-check-label vet-label-input" for="Wednesday">Wednesday</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input workday" id="Thursday" type="checkbox" value='Thursday'>
                                <label class="form-check-label vet-label-input" for="Thursday">Thursday</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input workday" id="Friday" type="checkbox" value='Friday'>
                                <label class="form-check-label vet-label-input" for="Friday">Friday</label>
                            </div>
                        </div>
                    </div>


                    <div class="my-3 check-align">
                        <h5 class="mb-3">Active Vet</h5>

                        <div class="form-check">
                            <label class="form-check-label vet-label-input">
                                <input class="form-check-input isActiveRadio" name="isActive" ng-model="vet.isActive"
                                       ng-value="1" type="radio" value="1">Yes</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label vet-label-input">
                                <input class="form-check-input isActiveRadio" name="isActive" ng-model="vet.isActive"
                                       ng-value="0" type="radio" value="0">No</label>
                        </div>
                    </div>
                    <div id="user-info">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" class="form-control" ng-model="vet.username" name="username" required />
                            <span ng-show="signupForm.username.$error.required" class="help-block">Username is required.</span>
                        </div>


                        <div id="email-info" class="col-12">
                            <h5 class="form-label">Email Address</h5>
                            <input class="form-control" id="email" name="email"
                                   ng-model="vet.email" pattern="\b[\w.%-]+@[-.\w]+\.[A-Za-z]{2,3}\b" placeholder="Email"
                                   required
                                   title="Minimum of 6 characters and maximum of 320 characters. Top level domain should have 2 to 3 characters."
                                   type="email">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <input id="password" class="form-control" type="password" ng-model="vet.password" name="password" required />
                                <span class="input-group-addon" id="eye" onclick="viewPwd()" style="cursor: pointer;">
                            <i class="bi bi-eye-slash"></i>
                            <script>
                            function viewPwd(){
                                const x = document.getElementsByName("password")[0];
                                if (x.getAttribute("type") === "password"){
                                    x.setAttribute("type", "text");
                                } else {
                                    x.setAttribute("type", "password");
                                }
                            }
                            </script>
                        </span>
                            </div>
                            <span ng-show="signupForm.password.$error.required" class="help-block">Password is required.</span>
                            <div id="password-strength" class="password-strength"></div>
                        </div>

                        <div style="padding-left: 47%">
                            <div id="loaderDiv" class="loader m-2"></div>
                        </div>
                    </div>
                    <hr class="my-4"/>
                    <button class="w-100 btn btn-primary btn-lg" ng-click="$ctrl.submitVetForm(vet)" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>

<style>
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #005d9a;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
