<h2>Veterinarians</h2>
<form onsubmit="void(0)" style="max-width: 20em; margin-top: 2em;">
    <div class="form-group">
        <input class="form-control" ng-model="$ctrl.query" placeholder="Search" type="text"/>
    </div>
</form>

<div style="float: right;margin-bottom: 1%">
    <label for="filterOption">Filter</label>

    <select id="filterOption" ng-change="ReloadData()" ng-model="refreshList">
        <option selected value="All">All</option>
        <option value="Available">Available</option>
        <option value="Unavailable">Unavailable</option>
    </select>
</div>


<table class="table table-striped">
    <thead>
    <tr>
        <th class="vet_name">Name</th>
        <th class="vet_phone">Phone</th>
        <th class="vet_email">Email</th>
        <th class="vet_speciality">Specialties</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tr ng-repeat="vet in $ctrl.vetList | filter:$ctrl.query track by vet.vetId">
        <td class="isActive" style="display: none">{{vet.isActive}}</td>
        <td class="vet_name"><a style="text-decoration: none;" ui-sref="vetDetails({ vetId: vet.vetId })"><span
                class="info v{{vet.vetId}}" ng-mouseenter="$ctrl.show($event,vet.vetId)"
                ng-mouseleave="$ctrl.hide($event,vet.vetId)">{{vet.firstName}} {{vet.lastName}}</span></a></td>
        <td class="vet_phone"><span>{{vet.phoneNumber}}</span></td>
        <td class="vet_email"><span>{{vet.email}}</span></td>
        <td class="vet_speciality"><span ng-repeat="specialty in vet.specialties">{{specialty.name + ' '}}</span></td>

        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteVet(vet.vetId)">Delete Vet</a></td>

    </tr>
    <div class="modal m{{vet.vetId}} modalOff" ng-repeat="vet in $ctrl.vetList">
        <span class="modal_image"><img ng-if="vet.image != null" src="data:image/png;base64,{{vet.image}}"/><img
                ng-if="vet.image == null" src="images/vet_default.jpg"/></span>
        <span class="modal_name"><b>Name:</b> {{vet.firstName}} {{vet.lastName}}</span>
        <span class="modal_phone"><b>Phone:</b> {{vet.phoneNumber}}</span>
        <div class="modal_specialty">
            <span class="modal_specialty_title"><b>Specialization(s):</b></span>
            <span class="modal_specialty_items" ng-repeat="specialty in vet.specialties">
                {{(specialty.name != null) ? '  -' + specialty.name + ' ' : 'no specialties'}}
            </span>
        </div>
        <span class="modal_email"><b>Email:</b> <br/> {{vet.email}}</span>

    </div>
</table>

<a ui-sref="vetsNew">
    <button class="add-vet-button btn btn-success">Add A Vet</button>
</a>