<h2>Veterinarians</h2>
<form onsubmit="javascript:void(0)" style="max-width: 20em; margin-top: 2em;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.query" />
    </div>
</form>
<a ui-sref="vetsNew">
    <button class="add-vet-button">Add A Vet</button>
</a>
<a ui-sref="disabled">
    <button class="change-vet-list-state-button" ng-click="$ctrl.buttonChangeState(false)">Disabled</button>
</a>
<a ui-sref="enable">
    <button class="change-vet-list-state-button" ng-click="$ctrl.buttonChangeState(true)">Enabled</button>
</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>

    <tr ng-repeat="vet in $ctrl.vetList | filter:$ctrl.query track by vet.id">
        <td><a ui-sref="vetDetails({ vetId: vet.vetId })"><span ng-mouseenter="$ctrl.show($event,vet.vetId)" ng-mouseleave="$ctrl.hide($event,vet.vetId)" class="info v{{vet.vetId}}">{{vet.firstName}} {{vet.lastName}}</span></a></td>
        <td><span ng-repeat="specialty in vet.specialties">{{specialty.name + ' '}}</span></td>
    </tr>
    <div ng-repeat="vet in $ctrl.vetList" class="modal m{{vet.vetId}} modalOff">
        <span class="modal_name"><b>Name:</b> {{vet.firstName}} {{vet.lastName}}</span>
        <span class="modal_phone"><b>Phone:</b> {{vet.phoneNumber}}</span>
        <div class="modal_specialty">
            <span class="modal_specialty_title"><b>Specialization(s):</b></span>
            <span class="modal_specialty_items" ng-repeat="specialty in vet.specialties">
                {{(!(specialty.name).isEmpty())?'  -'+specialty.name + ' ': 'no specialties'}}
            </span>
        </div>
        <span class="modal_email"><b>Email:</b> <br/> {{vet.email}}</span>

    </div>
</table>
