<h2 class="admin-panel">Users</h2>

<form onsubmit="javascript:void(0)" style="max-width: 20em; margin-top: 2em">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search Filter"
      ng-model="$ctrl.query"
    />
    <br />
  </div>
</form>

<table id="users" class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Options</th>
    </tr>
  </thead>

  <tr
    id="userId"
    ng-repeat="user in $ctrl.users | filter:{username:$ctrl.query}:startsWith track by user.userId"
  >
    <td>
      <a
        style="text-decoration: none"
        ui-sref="userDetails({ userId: user.userId })"
      >
        <span>{{ user.username }}</span>
      </a>
    </td>
    <td>{{user.email}}</td>
    <td>
      <!-- Using a nested ng-repeat to loop over each role in the user.roles array -->
      <span ng-repeat="role in user.roles">
        {{ role.name }}<span ng-if="!$last">, </span>
      </span>
    </td>
    <td>
      <input
        class="add-vet-button btn btn-success"
        type="button"
        value="Delete"
        ng-click="removeUser(user.userId)"
      />
      <button
        class="btn btn-warning"
        ui-sref="updateUserRole({ userId: user.userId })"
      >
        Update Role
      </button>
    </td>
  </tr>

  <a
    ui-sref="vetsNew"
    style="float: right; margin-bottom: 1%; margin-right: 10px"
  >
    <button class="add-vet-button btn btn-success">Add Vet</button>
  </a>
  <a
    ui-sref="managerForm"
    style="float: right; margin-bottom: 1%; margin-right: 10px"
  >
    <button class="btn btn-success">Add Inventory Manager</button>
  </a>
</table>
