<h2 class="admin-panel">Users</h2>

<form onsubmit="javascript:void(0)" style="max-width: 20em; margin-top: 2em;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Filter" ng-model="$ctrl.query" />
        <br/>
    </div>
</form>

<table id="users" class="table table-striped">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Options</th>
    </tr>
    </thead>

    <tr id="userId" ng-repeat="user in $ctrl.users | filter:{username:$ctrl.query}:startsWith track by user.userId">
        <td>
            <a style="text-decoration: none;" ui-sref="userDetails({ userId: user.userId })">
                <span>{{ user.username }}</span>
            </a>
        </td>
        <td>{{user.email}}</td>
        <td>
            <!-- Using a nested ng-repeat to loop over each role in the user.roles array -->
            <span ng-repeat="role in user.roles">
                {{ role.name }}<span ng-if="!$last">, </span>
            </span>
        </td>
        <td>
            <input class="add-vet-button btn btn-success" type="button" value="Delete" ng-click="removeUser(user.userId)"/>
            <button class="btn btn-warning" ui-sref="updateUserRole({ userId: user.userId })">Update Role</button>
        </td>
    </tr>


    <div class="dropdown" style="float: right; margin-bottom: 1%; margin-right: 10px;">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> Create User <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right p-2" style="min-width: 240px;">
            <a ui-sref="vetsNew" class="btn btn-block text-left mb-2" style="background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb;">
                <i class="glyphicon glyphicon-plus text-success"></i> Veterinarian
            </a>
            <a ui-sref="managerForm" class="btn btn-block text-left mb-2" style="background-color: #e2e3e5; color: #383d41; border: 1px solid #d6d8db;">
                <i class="glyphicon glyphicon-plus text-secondary"></i> Inventory Manager
            </a>
            <a ui-sref="signupForm" class="btn btn-block text-left mb-2" style="background-color: #d1ecf1; color: #0c5460; border: 1px solid #bee5eb;">
                <i class="glyphicon glyphicon-plus text-info"></i> Owner
            </a>
            <div class="btn btn-block text-left mb-2" style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; opacity: 0.7; cursor: not-allowed;" title="Coming soon">
                <i class="glyphicon glyphicon-time text-danger"></i> Receptionist
            </div>
        </div>
    </div>
</table>
