<script>
    function logoutUser() {
        logoutUser.$inject = ['$http'];
        var $http = angular.injector(['ng']).get('$http');
        $http({
            method: 'POST',
            url: '/api/gateway/users/logout'
        }).then(function successCallback(response) {
            alert("Logout successful")
            localStorage.removeItem("username")
            localStorage.removeItem("email")
            localStorage.removeItem("UUID")
            localStorage.removeItem("roles")
            window.location.href = '/#!/login';
        }, function errorCallback(response) {
            alert("Logout Error: Session may have expired. Redirecting to login page")
            localStorage.removeItem("username")
            localStorage.removeItem("email")
            localStorage.removeItem("UUID")
            localStorage.removeItem("roles")
            window.location.href = '/#!/login';
        });    }
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PetClinic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" ng-if="isLoggedIn">
                <li class="nav-item active">
                    <a class="nav-link" ui-sref="welcome">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="vets">Veterinarians</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Owners
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" ui-sref="owners">Owners</a>
                        <a class="nav-link" ui-sref="ownerDetails({ ownerId: UUID })">Edit Account</a>
                        <a class="nav-link" ui-sref="petTypes">Pet Types</a>
                    </div>
                </li>
                <li class="nav-item">
                        <a class="nav-link" ui-sref="bills">Bills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="visitList">Visits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="inventories">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="productList">Products</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto justify-content-end" ng-if="isLoggedIn">
                <li class="nav-item ">
                    <a class="nav-link" ui-sref="welcome">Welcome back {{ username }}!</a>
                </li>
                <li class="nav-item"  ng-if="isAdmin">
                    <a class="nav-link" ui-sref="AdminPanel" >Admin-Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="logoutUser()" style="cursor:pointer">Logout</a>
                </li>
            </ul>
        <ul class="navbar-nav mr-auto justify-content-end" ng-if="!isLoggedIn">
            <li class="nav-item ">
                <a class="nav-link" ui-sref="signupForm">Signup</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" ui-sref="login">Login</a>
            </li>
        </ul>


    </div>
</nav>
