<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-sm p-4" style="max-width: 600px; width: 100%;">
        <h4 class="mb-4 text-center">Update Product</h4>
        <div class="p-3 formColor m-0">
            <form id="productUpdateForm" class="form-horizontal" enctype="multipart/form-data" ng-submit="$ctrl.submitProductUpdateForm()">
                <div class="row">
                    <div class="form-group mb-3">
                        <img ng-if="product.imageData"
                             ng-src="data:{{product.imageType}};base64,{{product.imageData}}"
                             alt="{{product.productName}}"
                             width="120">
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="item">Product Name</label>
                        <input class="form-control" id="item" ng-model="$ctrl.product.productName" name="productName" type="text" placeholder="Please enter product name." required title="Please enter product name." />
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="control-label" for="description">Description</label>
                    <input class="form-control col-sm-4" id="description" ng-model="$ctrl.product.productDescription" name="productDescription" type="text" placeholder="Please enter product description." required title="Please enter product description."/>
                </div>

                <div class="form-group mb-3">
                    <div class="bundle marg col-sm-12">
                        <label class="control-label" for="quantity">Quantity</label>
                        <input class="form-control" id="quantity" ng-model="$ctrl.product.productQuantity" name="productQuantity" type="number" required title="Please enter quantities." />
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="bundle marg col-sm-12">
                        <label class="control-label" for="salePrice">Sale Price</label>
                        <input class="form-control" id="salePrice" step="0.01" min="0.01" ng-model="$ctrl.product.productSalePrice" name="productSalePrice" type="number" required title="Please enter the sale price." />
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="bundle marg col-sm-12">
                        <label class="control-label" for="type">Type</label>
                        <select class="form-control" id="type" ng-model="$ctrl.product.productType" ng-options="type for type in $ctrl.productType" name="productType" required>
                            <option value="">-- Select Product Type --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="bundle marg col-sm-12">
                        <label class="control-label" for="imageFile">Change Product Image</label>
                        <input class="form-control"
                               id="imageFile"
                               name="imageFile"
                               type="file"
                               accept="image/png, image/jpeg"
                               onchange="angular.element(this).scope().$ctrl.onFileSelected(this.files)" />
                        <small class="text-muted">
                            Leave empty to keep existing image.
                        </small>
                        <p class="text-success small mt-2" ng-if="$ctrl.selectedFile">
                            New image selected: {{$ctrl.selectedFile.name}}
                        </p>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="bundle marg col-sm-12">
                        <label class="control-label" for="productStatus">Product Status</label>
                        <select class="form-control" id="productStatus" ng-model="$ctrl.product.productStatus" ng-options="status for status in $ctrl.productStatus" name="productStatus" required>
                            <option value="">-- Select Product Status --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="bundle marg col-sm-12">
                        <label class="control-label" for="deliveryType">Delivery Type</label>
                        <select class="form-control" id="deliveryType" ng-model="$ctrl.product.deliveryType" ng-options="type for type in $ctrl.deliveryType" name="deliveryType" required>
                            <option value="">-- Select Delivery Type --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="bundle marg col-sm-12">
                        <label class="control-label" for="isUnlisted">isUnlisted</label>
                        <select class="form-control" id="isUnlisted" ng-model="$ctrl.product.isUnlisted" name="isUnlisted" required>
                            <option ng-value="false">false</option>
                            <option ng-value="true">true</option>
                        </select>
                    </div>
                </div>

                <div class="text-center">
                    <div class="bundle marg col-sm-12">
                    <div class="owner marg col-sm-6">
                        <button id="newBtn" class="btn btn-primary px-4" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>