<div class="bColor"><h2 class="titleOwner form">Owner</h2></div>

<form id="ownerForm" class="form-horizontal" ng-submit="$ctrl.submitOwnerForm()">
    <div class="form-group formColor">
        <label class="col-sm-2 control-label">First name</label>
        <div class="owner col-sm-6">
            <input class="form-control col-sm-4" ng-model="$ctrl.owner.firstName" name="firstName" required/>
            <span ng-show="ownerForm.firstName.$error.required" class="help-block">First name is required.</span>
        </div>
    </div>

    <div class="form-group formColor">
        <label class="col-sm-2 control-label">Last name</label>
        <div class="owner col-sm-6">
            <input class="form-control col-sm-4" ng-model="$ctrl.owner.lastName" name="lastName" required/>
            <span ng-show="ownerForm.lastName.$error.required" class="help-block">Last name is required.</span>
      </div>
    </div>


    <div class="form-group formColor">
        <label class="col-sm-2 control-label">Address</label>
        <div class="owner col-sm-6">
            <input class="form-control col-sm-4" ng-model="$ctrl.owner.address" name="address" required/>
            <span ng-show="ownerForm.address.$error.required" class="help-block">Address is required.</span>
        </div>
    </div>

    <div class="form-group formColor">
        <label class="col-sm-2 control-label">City</label>
        <div class="owner col-sm-6">
            <input class="form-control col-sm-4" ng-model="$ctrl.owner.city" name="city" required/>
            <span ng-show="ownerForm.city.$error.required" class="help-block">City is required.</span>
        </div>
    </div>

    <div class="form-group formColor">
        <label class="col-sm-2 control-label">Telephone</label>
        <div class="owner col-sm-6">
            <input class="form-control col-sm-4" ng-model="$ctrl.owner.telephone" name="telephone" required/>
            <span ng-show="ownerForm.telephone.$error.required" class="help-block">Telephone is required.</span>
        </div>
    </div>


    <div class="form-group formColor">
        <div class="owner marg col-sm-6">
            <button id="newBtn" class="btn btn-default" type="submit">Submit</button>
        </div>

    </div>
</form>

