<!-- Style for visits calender UI-->
<link rel="stylesheet" href="/css/visitsCalendarStyle.css" xmlns="http://www.w3.org/1999/html"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
<!-- calender UI END -->

<div class="container-calendar">
    <div class="calendar">
        <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date">
                <h1></h1>
                <p></p>
            </div>
            <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="days"></div>

        <div class="time-picker">
            <div class="time-date">
                <i class="fas fa-angle-left prev-day"></i>
                <div class="title-date">
                    <h1></h1>
                </div>
                <i class="fas fa-angle-right next-day"></i>
            </div>
            <div class="times">
            </div>
        </div>
    </div>
</div>
<script>

    const date = new Date();

    //specify which months goes with which numbers
    //ex: 09 = September
    const months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
    ];

    let selectedDate = date.getDate();
    let selectedTime;
    let availableDays = [];
    let vetAvailabilityStr;
    let nameOnCalenderStr;

    const renderCalendar = () => {
        console.log("------------------------------------------");

        date.setDate(1);

        const monthDays = document.querySelector('.days');

        const timeSlots = document.querySelector('.times');

        const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
        const prevLastDay = new Date(date.getFullYear(), date.getMonth(), 0).getDate();

        const firstDayIndex = date.getDay();
        const lastDayIndex = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDay();

        const nextDays = 7 - lastDayIndex - 1;

        let showSelectedDate = new Date("" + months[date.getMonth()] + " " + selectedDate + ", " + date.getFullYear());
        console.log("Selected Date: " + showSelectedDate);

        let formattedDate = showSelectedDate.toDateString().substring(0, 3) + ", " + showSelectedDate.toDateString().substring(3, 10).trim() + ", " + date.getFullYear();

        let isMonthUnavailable = false;
        if((new Date("" + months[date.getMonth()] + " " + (parseInt(selectedDate) + 1) + ", " + date.getFullYear()) < new Date())) {
            isMonthUnavailable = true;
            formattedDate = date.getFullYear().toString();
        }

        availableDays = [];
        let vetWorkDays = [];
        let days = "";

        let vetsArray;
        if (vetAvailabilityStr !== undefined && vetAvailabilityStr !== null) {
            vetsArray = vetAvailabilityStr.split(",");
        } else {
            vetsArray = null;
        }

        if(vetsArray !== null) {
            for (const d of vetsArray) {
                switch (d.toLowerCase().trim()) {
                    case "monday":
                        vetWorkDays.push(1);
                        break;
                    case "tuesday":
                        vetWorkDays.push(2);
                        break;
                    case "wednesday":
                        vetWorkDays.push(3);
                        break;
                    case "thursday":
                        vetWorkDays.push(4);
                        break;
                    case "friday":
                        vetWorkDays.push(5);
                        break;
                    default:
                        break;
                }
            }
        } else {
            formattedDate = date.getFullYear().toString();
            selectedDate = null;
        }

        if(nameOnCalenderStr === undefined) {
            nameOnCalenderStr = date.getFullYear().toString();
        }

        //change currently selected month and date on the title UI elements
        document.querySelector(".date p").innerHTML = formattedDate;
        document.querySelector(".time-date h1").innerHTML = nameOnCalenderStr;
        document.querySelector(".date h1").innerHTML = months[date.getMonth()];

        for(let x = firstDayIndex; x > 0; x--) {
            let d = prevLastDay - x + 1;

            if(CheckWeekend(d, -1)) {
                days += `<div data-target="previous-page-${d}" class="prev-date unavailable day">${d}</div>`;
            } else {
                days += `<div data-target="previous-page-${d}" class="prev-date day">${d}</div>`;
            }
        }

        //get the week days that the vet works
        for(let i = 1; i <= lastDay; i++) {
            let workDay = false;
            for(let w of vetWorkDays) {
                if(getWeekDay(i, 0) === w) {
                    workDay = true;
                }
            }

            //check if day is weekend
            if(CheckWeekend(i, 0) && i === new Date().getDate() && date.getMonth() === new Date().getMonth() && new Date().getFullYear() === date.getFullYear() && vetAvailabilityStr !== null) {
                days += `<div data-target="${i}" class="today_weekend day">${i}</div>`;
            }

            //check if day unavailable
            else if((CheckWeekend(i, 0) ||
                    vetAvailabilityStr === null) ||
                (i < new Date().getDate() &&
                    date.getMonth() <= new Date().getMonth() &&
                    date.getFullYear() === new Date().getFullYear()) ||
                (date.getMonth() < new Date().getMonth() &&
                    date.getFullYear() === new Date().getFullYear()) ||
                date.getFullYear() < new Date().getFullYear()) {

                days += `<div data-target="${i}" class="unavailable day">${i}</div>`;
            }

            //check for vet availabilities
            else if(workDay === false) {
                if((i === new Date().getDate() && date.getMonth() === new Date().getMonth() && new Date().getFullYear() === date.getFullYear())) {
                    days += `<div data-target="${i}" class="today_holiday day">${i}</div>`;
                } else {
                    days += `<div data-target="${i}" class="holiday day">${i}</div>`;
                }
            }

            //check for date selected by user
            else if(selectedDate === i.toString()) {
                days += `<div data-target="${i}" class="date-selected day">${i}</div>`;
                availableDays.push(i);
            }

            //specify the date of today
            else if (i === new Date().getDate() && date.getMonth() === new Date().getMonth() && new Date().getFullYear() === date.getFullYear()) {
                days += `<div data-target="${i}" class="today day">${i}</div>`;
            }

            //regular days
            else {
                days += `<div data-target="${i}" class="day">${i}</div>`;
                availableDays.push(i);
            }
        }

        //insert the days for the next month
        for(let j = 1; j <= nextDays; j++) {
            if(CheckWeekend(j, 1)) {
                days += `<div data-target="next-page-${j}" class="next-date unavailable day">${j}</div>`;
            } else {
                days += `<div data-target="next-page-${j}" class="next-date day">${j}</div>`;
            }
        }

        monthDays.innerHTML = days;

        //get number of days to insert after current month's date
        let numberOfDays = document.getElementsByClassName("day").length;
        let numberOfNext = document.getElementsByClassName("next-date").length;
        let numberOfRows;

        if(numberOfDays === 28) {
            numberOfRows = 2;
        } else if (numberOfDays === 35) {
            numberOfRows = 1;
        } else {
            numberOfRows = 0;
        }

        if(numberOfRows !== 0) {
            for(let j = numberOfNext + 1; j <= (numberOfRows * 7) + numberOfNext; j++) {
                if(CheckWeekend(j, 1)) {
                    days += `<div data-target="next-page-${j}" class="next-date weekend day">${j}</div>`;
                } else {
                    days += `<div data-target="next-page-${j}" class="next-date day">${j}</div>`;
                }
            }
        }

        monthDays.innerHTML = days;

        console.log("Number Of days in month " + (date.getMonth()+1) + " is equal to: " + numberOfDays);

        let slots = "";
        let timeIsSelected = false;

        //create time slots
        for(let i = 9; i < 17; i++) {
            let addition = 1;
            let val = i;
            let is1AM = true, is2AM = true;
            let firstTime, secondTime;

            //if time is 1PM, change 13 to 1 PM for english time format
            if(i > 12) {
                val = i - 12;
                is1AM = false;
                is2AM = false;

                //if time is 11AM, make second time period (12) a PM time
            } else if(i === 11) {
                is2AM = false;

                //if time is 12PM, make sure that PM times are posted and that second time is 1PM and not 13PM
            } else if(i === 12) {
                addition = -11;
                is2AM = false;
                is1AM = false;
            }

            firstTime = getAMorPM(is1AM);
            secondTime = getAMorPM(is2AM);

            //Make time unavailable
            if(isMonthUnavailable || formattedDate === date.getFullYear().toString() || (new Date().getDate() === parseInt(selectedDate)) && new Date().getMonth() === date.getMonth() && new Date().getFullYear() === date.getFullYear()) {
                slots += `<div data-target="${i} " class="time-slots time-unavailable">${val} ${firstTime} - ${val + addition} ${secondTime}</div>`;
            }

            //check time selected
            else if(i === parseInt(selectedTime)) {
                slots += `<div data-target="${i} " class="time-slots time-selected">${val} ${firstTime} - ${val + addition} ${secondTime}</div>`;
                timeIsSelected = true;
            }

            //Show user available time ranges
            else {
                slots += `<div data-target="${i} " class="time-slots">${val} ${firstTime} - ${val + addition} ${secondTime}</div>`;
            }
        }

        //make confirmation button appear if time was selected
        if(timeIsSelected) {
            slots += `<div class="confirmation-time">
                    <div class="submitBTN">Confirm</div>
                  </div>`;

            document.querySelector(".time-picker").classList.add("time-picker-selected");
        } else {
            document.querySelector(".time-picker").classList.remove("time-picker-selected");
        }

        timeSlots.innerHTML = slots;

        //fixes bug where window wouldn't load
        if(monthDays.innerHTML === null) {
            location.reload();
        }
    }

    //check if a date is on the weekend
    const CheckWeekend = (tempDate, month) => {
        return (new Date("" + months[date.getMonth() + month] + " " + tempDate + ", " + date.getFullYear()).getDay() === 0 ||
            new Date("" + months[date.getMonth() + month] + " " + tempDate + ", " + date.getFullYear()).getDay() === 6);

    }

    //check if date selected is a day of the week (monday to friday)
    const getWeekDay = (day, month) => {
        return new Date("" + months[date.getMonth() + month] + " " + day + ", " + date.getFullYear()).getDay();
    }

    //fix selected date if user changes month so that it can't select a weekend
    const fixDays = (isPrevOrNext) => {
        let valMin = 0;
        let valMax = 0;
        let wasMaxReached = false;

        for(let a of availableDays) {
            console.log(a);
            if(a > selectedDate && wasMaxReached === false) {
                valMax = a;
                wasMaxReached = true;
            }

            if(a < selectedDate) {
                valMin = a;
            }
        }

        if(valMin === 0 || isPrevOrNext === 1) {
            selectedDate = valMax.toString();

        } else if(valMax === 0 || isPrevOrNext === 2) {
            selectedDate = valMin.toString();

        } else {
            if((valMax - parseInt(selectedDate) <= (parseInt(selectedDate) - valMin))) {
                selectedDate = valMax.toString();
            }
            else {
                selectedDate = valMin.toString();
            }
        }
    }

    //check selection change for vets availability
    const selectChanged = () => {
        vetAvailabilityStr = $('#vetWorkdays').val();
        nameOnCalenderStr = $("#selectedVet :selected").attr("data-target");

        renderCalendar();
    }

    //get value either for PM or AM for the time slots
    const getAMorPM = (isAM) => {
        if(isAM) {
            return "AM";
        } else {
            return "PM";
        }
    }

    renderCalendar();

    //previous page selector
    document.querySelector('.prev').addEventListener('click',() => {
        date.setMonth(date.getMonth() - 1);

        renderCalendar();
        fixDays();

        selectedTime = "";

        renderCalendar();
    });

    //next page selector
    document.querySelector('.next').addEventListener('click',() => {
        date.setMonth(date.getMonth() + 1);

        renderCalendar();
        fixDays();

        selectedTime = "";

        renderCalendar();
    });

    //select dates
    document.querySelector('.days').addEventListener('click',(event) => {

        let target = event.target.dataset.target;

        //Recognize null clicks
        if(target === undefined){
            console.log("nothing was selected");

        } else if(target.substring(0,13) === "previous-page") {

            selectedDate = target.substring(14, 16).trim();

            date.setMonth(date.getMonth() - 1);

            selectedTime = "";

            console.log("currently selected: ", target);

        } else if(target.substring(0,9) === "next-page") {

            selectedDate = target.substring(10, 12).trim();

            date.setMonth(date.getMonth() + 1);

            selectedTime = "";

            console.log("currently selected: ", target);

        } else {
            selectedDate = target;
            date.setDate(parseInt(target));

            selectedTime = "";

            console.log("currently selected: ", target);
        }
        renderCalendar();
    });

    document.querySelector('.times').addEventListener('click',(event) => {

        let selected = event.target.dataset.target;

        if(selected !== undefined) {
            selectedTime = selected;
        }

        console.log("Time selected: " + selectedTime);

        renderCalendar();
    });
</script>

<h2>Visits</h2>

<form id="visitForm" ng-submit="$ctrl.submit()">

    <div class="form-group">
        <label>Practitioner</label>
        <select id="selectedVet" ng-model="$ctrl.practitionerId" ng-change="$ctrl.loadVetInfo()">
            <option ng-repeat="p in $ctrl.vets" data-target="{{p.firstName}} {{p.lastName}}" value="{{p.vetId}}">{{p.firstName}} {{p.lastName}}</option>
        </select>

        <br>

        <label for="vetPhoneNumber" style="margin-top: 10px">Phone Number:</label>
        <input id="vetPhoneNumber" disabled="disabled" style="background-color: #dbd9ce;"/>

        <label for="vetEmailAddress">Email Address:</label>
        <input id="vetEmailAddress" disabled="disabled" style="background-color: #dbd9ce;"/>

        <label for="vetSpecialties">Specialties:</label>
        <input id="vetSpecialties" disabled="disabled" style="background-color: #dbd9ce;"/>

        <label for="vetWorkdays">Workdays:</label>
        <input id="vetWorkdays" disabled="disabled" style="background-color: #dbd9ce;" onchange=selectChanged() />
    </div>

    <div class="form-group">
        <label for="date_input">Date</label>
        <input id="date_input" type="date" class="form-control" ng-model='$ctrl.date'/>
    </div>

    <div class="form-group">
        <label for="description_textarea">Description</label>
        <textarea id="description_textarea" class="form-control" ng-model="$ctrl.desc" style="resize:vertical;" required></textarea>
    </div>

    <div class="form-group">
        <button id="submit_button" class="btn btn-default" type="submit">Add New Visit</button>
        <button id="cancel_button" onClick="window.location.reload()" class="btn btn-default" style="visibility: hidden">Cancel</button>
    </div>
</form>

<h3>Previous Visits</h3>
<table class="table">
    <tr ng-repeat="v in $ctrl.visits">
        <td class="col-sm-2">{{v.date}}</td>
        <td style="white-space: pre-line">{{v.description}}</td>
        <td style="white-space: pre-line">{{$ctrl.getPractitionerName(v.practitionerId)}}</td>
        <td><button class="btn btn-default" ng-click="$ctrl.switchToUpdateForm(v.practitionerId, v.date, v.description, v.id)">Edit Visit</button></td>
    </tr>
</table>