<h2>Update User Role</h2>
<form style="background-color: #f5f5f5; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
  <div class="form-group">
    <label>Select Role:</label>
    <div ng-repeat="role in roles" class="form-check">
      <input type="checkbox" class="form-check-input" id="{{role}}" ng-model="selectedRoles[role]" ng-true-value="'{{role}}'" ng-false-value="undefined">
      <label class="form-check-label" for="{{role}}">{{role}}</label>
    </div>
  </div>
  <button type="button" class="btn btn-warning" ng-click="updateRole()">Update Roles</button>
  <a ui-sref="AdminPanel" class="btn btn-secondary">Cancel</a>
</form>
