:host {
  display: block;
}

input {
  display: block;
  margin-top: 0.5rem;
}

img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  margin-top: 1rem;
}

.error {
  color: #b00020;
}
