<!-- bill-form.html -->
<div class="container">
    <h2 class="titleBill form">Update Bill</h2>
    <form id="billUpdateForm" class="form-horizontal" ng-submit="$ctrl.submitBillForm()">

        <div class="form-group">
            <label class="col-sm-2 control-label">Customer ID</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.bill.customerId" name="customerId" ng-disabled="$ctrl.checked" required />
                <span ng-show="billForm.customerId.$error.required" class="help-block">Customer ID is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Vet ID</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.bill.vetId" name="vetId" ng-disabled="$ctrl.checked" required />
                <span ng-show="billForm.vetId.$error.required" class="help-block">Vet ID is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Visit Type</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.bill.visitType" name="visitType" ng-disabled="$ctrl.checked" required />
                <span ng-show="billForm.visitType.$error.required" class="help-block">Visit Type is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label text-center" for="billStatus">Status</label>
            <div class="col-sm-6">
            <select class="form-control" name="billStatus" id="billStatus" ng-model="$ctrl.bill.billStatus" required title="Please select a status">
                <option value="PAID">Paid</option>
                <option value="UNPAID">Unpaid</option>
                <option value="OVERDUE">Overdue</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Due Date</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.bill.dueDate" name="dueDate" type="date" ng-disabled="$ctrl.checked" required />
                <span ng-show="billForm.date.$error.required" class="help-block">Due Date is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Amount</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.bill.amount" name="amount" ng-disabled="$ctrl.checked" required />
                <span ng-show="billForm.amount.$error.required" class="help-block">Amount is required.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-6">
                <input class="form-control" ng-model="$ctrl.bill.date" name="date" type="date" ng-disabled="$ctrl.checked" required />
                <span ng-show="billForm.date.$error.required" class="help-block">Date is required.</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <button class="btn btn-default" type="submit">Update Bill</button>
            </div>
        </div>
    </form>
</div>
