---
# Default Spring Profile
server:
  port: 7008

  error:
    include-message: always

logging:
  level:
    root: INFO
    com.petclinic: DEBUG

---
#for tests

spring:
  config:
    activate:
      on-profile: test


  data:
    mongodb:
      username: root
      password: password
      host: localhost
      port: 0
      database: carts
      authentication-database: admin
      auto-index-creation: true

de:
  flapdoodle:
    mongodb:
      embedded:
        version: 5.0.5

---

spring:
  config:
    activate:
      on-profile: docker
  data:
    mongodb:
      host: mongo-carts
      port: 27017
      database: carts
      username: ${DB_USER}
      password: ${DB_PASSWORD}
      authentication-database: admin

server.port: 8080

---

spring:
  config:
    activate:
      on-profile: local

  data:
    mongodb:
      host: localhost
      port: 27022
      database: carts
      username: root
      password: password
      authentication-database: admin
