<style>
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .delete-all-button{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    
    .original-button {
        color: #fff;
        background-color: #19d256;
        border-color: #dc3545;
        font-size: 18px;
        border-radius: 5px;
        width: 200px;
        height: 40px;
        font-weight: bold;


    }

    .original-button:hover {
        box-shadow: 0 0 rgba(0, 0, 0, 0.4);
        border-bottom-width: 2px;
        transform: translateY(2px);
    }

</style>

<div class="container">
    <a ui-sref="visitsNew">
        <button class="original-button" id="addBtn">Create Visit</button>
    </a>
</div>

<h3 style="margin: 0;">Upcoming Visits</h3>

<p>Type something in the input field to search throughout the table:</p>
<input ng-model="search.visitId" placeholder="Filter by VisitID">
<input ng-model="search.date" placeholder="Filter by Date">
<input ng-model="search.description" placeholder="Filter by Description">
<input ng-model="search.vetId" placeholder="Filter by Veterinarian">
<input ng-model="search.petId" placeholder="Filter by PetId">
<input ng-model="search.status" placeholder="Filter by Status">
<input ng-model="search.billId" placeholder="Filter by Bill">

<div class="delete-all-button">
<button class="btn btn-danger" ng-click="deleteAllCancelledVisits()">Delete All Canceled Visits</button>
</div>

<table class="table">
    <thead>
    <tr>
        <th> <button class="btn btn-default" id="sortByVisitIdUpcomingVisits" style="color: white">VisitId ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByDateButtonUpcomingVisits" ng-click="$ctrl.SortTableByDate(true)" style="color: white">Sort by date ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByDescButtonUpcomingVisits" ng-click="$ctrl.SortTableByDesc(true)" style="color: white">Sort by description ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByVetButtonUpcomingVisits" ng-click="$ctrl.SortTableByVet(true)" style="color: white">Sort by veterinarian ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByPetButtonUpcomingVisits" ng-click="$ctrl.SortTableByPet(true)" style="color: white">Sort by pet ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByStatusButtonUpcomingVisits" ng-click="$ctrl.SortTableByStatus(true)" style="color: white">Sort by status ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByBillIdUpcomingVisits" style="color: white">Bill ⇅</button> </th>
        <th style="text-align:center; vertical-align:middle"><label>Confirm</label></th>
        <th style="text-align:center; vertical-align:middle"> <label>Cancel</label> </th>
        <th style="text-align:center; vertical-align:middle"> <label>Edit</label> </th>
        <th style="text-align:center; vertical-align:middle"> <label>Delete</label> </th>
    </tr>
    </thead>
    <tbody id="upcomingTable">
    <tr id="visitId" ng-repeat="v in $ctrl.upcomingVisits | filter:search:$ctrl.query track by v.visitId" data-table-name="upcomingVisits">
        <td class="col-sm-2">{{v.visitId}}</td>
        <td class="col-sm-2">{{v.visitDate | date:'yyyy-MM-ddTHH:mm:ss'}}</td>
        <td style="white-space: pre-line">{{v.description}}</td>
<!--        <td style="white-space: pre-line">{{$ctrl.getPractitionerName(v.practitionerId)}}</td>-->
        <td style="white-space: pre-line">{{v.practitionerId}}</td>
        <td style="white-space: pre-line">{{v.petId}}</td>
        <td class="status-text" style="white-space: pre-line">{{v.status}}</td>
        <td class="status-text" style="white-space: pre-line"></td>
        <td>
            <a ng-class="{
    'btn btn-success': v.status === 'UPCOMING',
    'btn btn-info': v.status === 'CONFIRMED',
    'btn btn-default': v.status === 'COMPLETED' || v.status === 'CANCELLED'
  }"
               href="javascript:void(0)"
               ng-click="confirmVisit(v.visitId, v.status)">
                {{ v.status === 'UPCOMING' ? 'Confirm Visit' : v.status === 'CONFIRMED' ? 'Complete Visit' : v.status === 'CANCELLED' ? 'Cannot Confirm Cancelled Visit' : 'Visit Completed!' }}
            </a>
        </td>

        <td><a ng-class="{
    'btn btn-danger': v.status === 'UPCOMING',
    'btn btn-default': v.status === 'CANCELLED' || v.status === 'CONFIRMED' || v.status === 'COMPLETED'
  }" href="javascript:void(0)" ng-click="cancelVisit(v.visitId, v.status)">
            {{ v.status === 'UPCOMING' ? 'Cancel Visit' : v.status === 'CONFIRMED' ? 'Cannot Cancel Confirmed Visit' : v.status === 'COMPLETED' ? 'Cannot Cancel Completed Visit' : 'Visit Cancelled!' }}
        </a></td>
        <td style="text-align:center; vertical-align:middle"><button class="btn btn-default" type="button" style="background-color: royalblue; color: white" ng-click="$ctrl.switchToUpdateForm($event, v.practitionerId, v.description, v.visitId, v.status)">Edit Visit</button></td>
        <!--<td style="text-align:center; vertical-align:middle"><button class="btn btn-danger" href="javascript:void(0)" ng-click="deleteVisit(v.visitId)">Delete visit</button></td> -->
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteVisit(v.visitId)">Delete Visit</a></td>


    </tr>
    </tbody>
</table><h3 style="margin-top: 6px">Previous Visits</h3>

<div id="loadingIndicator" style="display: none;">Loading...</div> <!--Page loading message-->

<table class="table">
    <thead>
    <tr>
        <th> <button class="btn btn-default" id="sortByVisitIdPreviousVisits" style="color: white">VisitId ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByDateButtonPreviousVisits" ng-click="$ctrl.SortTableByDate(true)" style="color: white">Sort by date ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByDescButtonPreviousVisits" ng-click="$ctrl.SortTableByDesc(true)" style="color: white">Sort by description ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByVetButtonPreviousVisits" ng-click="$ctrl.SortTableByVet(true)" style="color: white">Sort by veterinarian ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByPetButtonPreviousVisits" ng-click="$ctrl.SortTableByPet(true)" style="color: white">Sort by pet ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByStatusButtonPreviousVisits" ng-click="$ctrl.SortTableByStatus(true)" style="color: white">Sort by status ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByBillIdPreviousVisits" style="color: white">Bill ⇅</button> </th>
        <th style="text-align:center; vertical-align:middle"> <label>Cancel</label> </th>
        <th style="text-align:center; vertical-align:middle"> <label>Edit</label> </th>
        <th style="text-align:center; vertical-align:middle"> <label>Delete</label> </th>
    </tr>
    </thead>
    <tbody>
    <tr id="v2visitId" ng-repeat="v in $ctrl.previousVisits | filter:$ctrl.query track by v.visitId" data-table-name="previousVisits">
        <td class="col-sm-2">{{v.visitId}}</td>
        <td class="col-sm-2">{{visitsCtrl.visit.visitDate}}</td>
        <td style="white-space: pre-line">{{v.description}}</td>
        <!-- <td style="white-space: pre-line">{{$ctrl.getPractitionerName(v.practitionerId)}}</td>-->
        <td style="white-space: pre-line">{{v.practitionerId}}</td>
        <td style="white-space: pre-line">{{v.petId}}</td>
        <td class="status-text" style="white-space: pre-line">{{v.status}}</td>
        <td class="status-text" style="white-space: pre-line"></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="cancelVisit(v.visitId, v.status)">Cancel Visit</a></td>
        <td style="text-align:center; vertical-align:middle"><button class="btn btn-default" type="button" style="background-color: royalblue; color: white" ng-click="$ctrl.switchToUpdateForm($event, v.practitionerId, v.description, v.visitId, v.status)">Edit Visit</button></td>
        <td style="text-align:center; vertical-align:middle"><button class="btn btn-danger" type="button" ng-click="$ctrl.showConfirmationModal($event, v.visitId)">Delete visit</button></td>
    </tr>
    </tbody>
</table>