---
# version: '3.8'

services:
  petclinicFrontend:
    image: petclinic-frontend
    container_name: petclinic-frontend
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BUILD_MODE=development
    ports:
      - '3000:3000'
    volumes:
      - ./src:/app/src
