<mat-nav-list>
  @for (item of items; track item.route) {
    <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  }

  @if (authState.isSudo()) {
    <a mat-list-item routerLink="/admin/users" routerLinkActive="active-link">
      <mat-icon matListItemIcon>person_add</mat-icon>
      <span matListItemTitle>Create user</span>
    </a>
  }
</mat-nav-list>
