<div style="display: flex; justify-content: center">
    <div>
    <h2 class="text-center">Login</h2>
    <form ng-submit="$ctrl.login()" style="max-width: 25em;" style="justify-content: center">
        <div class="group-form">
            <label>Email
                <input class="form-control" ng-model="login.email" name="email" required/>
            </label>
            <span ng-show="loginForm.username.$error.required" class="help-block">Username is required.</span>
        </div>

        <div class="group-form">
            <label>Password
            <input type="password" class="form-control" ng-model="login.password" name="password" required/>
            </label>
            <span ng-show="loginForm.password.$error.required" class="help-block">Password is required.</span>
        </div>

        <div class="group-form">
            <button class="btn btn-default" type="submit">Login</button>
        </div>
    </form>
    </div>
</div>