<div style="display: flex; justify-content: center">
    <div>
    <h2 class="text-center">Login</h2>
    <form ng-submit="$ctrl.login()" style="max-width: 25em;" style="justify-content: center">
        <h3 class="text-danger text-center" ng-repeat="error in errorMessages">{{ error }}</h3>
        <div class="group-form">
            <label>Email</label>

            <input class="form-control" ng-model="login.email" name="email" required/>

            <span ng-show="loginForm.username.$error.required" class="help-block">Username is required.</span>
        </div>

        <div class="group-form">
            <label>Password</label>

            <input type="password" class="form-control" ng-model="login.password" name="password" required/>
            <i style="margin-left: 80%; margin-top: -30%; cursor: pointer" class="bi bi-eye-slash" id="togglePassword" onclick="viewPwd"></i>

            <span ng-show="loginForm.password.$error.required" class="help-block">Password is required.</span>
        </div>

        <div class="group-form d-flex justify-content-center">
            <button class="btn btn-default" type="submit">Login</button>
        </div>

        <script>
            function viewPwd() {
                var x = document.getElementById("password");
                if (x.type === "password"){
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
    </form>
    </div>
</div>