.full-width-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: relative;
  object-position: center;
}

.header-container {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  max-width: 500px;
  z-index: 1;
  border-radius: 15px;
}

.overlay-text h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.trending-list-container-gold {
  margin-bottom: 20px;
  /*border: 2px solid #ffd700;*/
  border-radius: 8px;
  background-color: #e8e8e8;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.trending-list-container-gold h2 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}

.section-header {
  background-color: #f5f5f5;
  padding: 12px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #888;
  border-radius: 6px;
  margin-top: 20px;
}
