<div class="CurrentOwnersContainer" ng-app="petTypeList" ng-controller="PetTypeListController as self">
    <h3 class="titleOwner">Current Pet Types</h3>

    <button class="btn btn-success btn-sm mb-3" ng-click="self.toggleAddForm()">
        + Add Pet Type
    </button>

    <div ng-show="self.showAddForm" class="border p-3 mb-3">
        <h5>Add New Pet Type</h5>
        <div class="form-group">
            <label>Name:</label>
            <input
                    type="text"
                    class="form-control"
                    ng-model="self.newPetType.name"
                    ng-pattern="/^[a-zA-Z\s]+$/"
                    required
            >
            <small class="text-danger" ng-show="self.addForm.name.$error.pattern">
                Letters and spaces only
            </small>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input
                    type="text"
                    class="form-control"
                    ng-model="self.newPetType.petTypeDescription"
                    ng-pattern="/^[a-zA-Z\s]+$/"
                    required
            >
            <small class="text-danger" ng-show="self.addForm.description.$error.pattern">
                Letters and spaces only
            </small>
        </div>
        <button class="btn btn-primary btn-sm" ng-click="self.addPetType()">Save</button>
        <button class="btn btn-secondary btn-sm" ng-click="self.toggleAddForm()">Cancel</button>
    </div>

    <table id="owner" class="table table-striped table-responsive ownerTable pb-3">
        <thead class="bg-white">
        <tr>
            <th class="bg-white border text-dark">Pet Type ID</th>
            <th class="bg-white border text-dark">Pet Type Name</th>
            <th class="bg-white d-none d-sm-table-cell d-md-table-cell border text-dark">Description</th>
            <th class="bg-white border text-dark">Delete</th>
        </tr>
        </thead>
        <tbody class="border">
        <tr ng-repeat="petType in self.petTypes">
            <td>{{petType.petTypeId}}</td>
            <td class="responsive-text">{{petType.name}}</td>
            <td class="d-none d-sm-table-cell d-md-table-cell responsive-text">{{petType.petTypeDescription}}</td>
            <td>
                <button class="btn btn-danger btn-sm" ng-click="self.deletePetType(petType.petTypeId)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
