---
server:
  port: 7007

  error:
    include-message: always

logging:
  level:
    root: INFO
    com.petclinic: DEBUG

---
# for test

spring:
  config:
    activate:
      on-profile: test

  data:
    mongodb:
      username: root
      password: password
      host: localhost
      port: 0
      database: products
      authentication-database: admin
      auto-index-creation: true

de:
  flapdoodle:
    mongodb:
      embedded:
        version: 4.4.0

---

spring:
  codec:
    max-in-memory-size: 16MB
  config:
    activate:
      on-profile: docker
  data:
    mongodb:
      host: mongo-products
      port: 27017
      database: products
      username: ${DB_USER}
      password: ${DB_PASSWORD}
      authentication-database: admin

server.port: 8080
