/* Specific styles for VisitDetails component */
.visit-details-container {
  width: 80%;
  margin-top: 10px;
  background-color: #f7faff;
  padding: 20px;
  border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.visit-details-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1565c0;
}

.visit-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.visit-field {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.visit-label {
  font-weight: bold;
  color: #1565c0;
}

.visit-value {
  color: #333;
}

/* button{
  height: 10px;
  width: 10px;
} */

/* Mobile responsiveness */
@media (max-width: 768px) {
  .visit-info {
    grid-template-columns: 1fr;
  }
}

