<style>
    .btn-danger:hover {
        transform: translateY(2px);
        box-shadow: 0 0 rgba(0, 0, 0, 2);
        border-bottom-width: 1px;
    }
</style>

<h2>Inventory Products</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td>Name</td>
        <td>Id</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Description</td>
    </tr>
    <tr>
        <td>
            <span>
                <input type="text" ng-model="productName" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, productPrice)">
            </span>
        </td>
        <td></td>
        <td>
            <span>
                <input type="number" min="0" ng-model="productQuantity" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, productPrice)">
            </span>
        </td>
        <td>
            <span>
                <input type="number" step="0.01" min="0" ng-model="productPrice" ng-keyup="$event.keyCode == 13 && searchProduct(productName, productQuantity, productPrice)">
            </span>
        </td>
        <td></td>
        <td></td>
        <td>
            <span>
                <input class="btn btn-success" type="button" value="Search" ng-click="searchProduct(productName, productQuantity, productPrice)">
            </span>
        </td>
    </tr>

    </thead>
    <tr ng-repeat="product in $ctrl.inventoryProductList | filter:$ctrl.query track by product.productId">
        <td><span>{{product.productName}}</span></td>
        <td><span>{{product.productId}}</span></td>
        <td><span>{{product.productQuantity}}</span></td>
        <td><span>{{product.productPrice}}</span></td>
        <td><span>{{product.productDescription}}</span></td>
        <td><a ui-sref="updateProductInventory({inventoryId: $ctrl.inventoryProductList[0].inventoryId, productId: product.productId})">
            <button class="add-bundle-button btn btn-success">Edit</button>
        </a></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteProduct(product)">Delete</a></td>
        <td></td>
    </tr>
</table>
<a ui-sref="productNew({ inventoryId: $ctrl.inventoryProductList[0].inventoryId })">
    <button class="add-bundle-button btn btn-success">Add Product</button>
</a>
<a ui-sref="inventories">
    <button class="btn btn-success">Inventory List</button>
</a>
<a ng-click="deleteAllProducts()">
    <button class="delete-bundle-button btn btn-success">Delete All Products</button>
</a>
