<h2>Inventory</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td>Bundle ID</td>
        <td>Item</td>
        <td>Quantity</td>
        <td>ExpiryDate</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tr ng-repeat="bundle in $ctrl.bundleList | filter:$ctrl.query track by bundle.bundleUUID">
        <td><span>{{bundle.bundleUUID}}</span></td>
        <td><span>{{bundle.item}}</span></td>
        <td><span>{{bundle.quantity}}</span></td>
        <td><span>{{bundle.expiryDate}}</span></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBundle(bundle.bundleUUID)">Delete Bundle</a></td>
    </tr>
</table>
<a ui-sref="bundleNew">
    <button class="add-bundle-button btn btn-success">Add Bundle</button>
</a>
