---
# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
        - uses: actions/checkout@v4
        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v4
          with:
            node-version: ${{ matrix.node-version }}
            cache: 'npm'
            cache-dependency-path: petclinic-frontend/package-lock.json
        - name: Install dependencies
          run: npm install
          working-directory: ./petclinic-frontend
        - name: Run npm lint to ensure frontend code is linted
          run: npm run lint
          working-directory: ./petclinic-frontend
        - name: Run build to ensure no build errors
          run: npm run build
          working-directory: ./petclinic-frontend
