.CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.CartItem:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight elevation on hover */
}

.CartItem-info {
  flex: 3;
  padding: 10px;
}

.info-title {
  font-size: 1.5em;
  color: #333;
}

.info-description {
  color: #666;
  margin: 5px 0;
  font-size: 0.9em; /* Smaller font for description */
}

.CartItem-details {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.CartItem-price {
  flex: 1;
  font-size: 1.2em;
  text-align: right;
  color: #333;
  margin-right: 15px; /* Add margin to separate the price from the delete button */
}

.item-quantity {
  margin-right: 20px;
}

.item-quantity input {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.item-quantity input:focus {
  border-color: #007bff; /* Highlight input on focus */
  outline: none; /* Remove outline */
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 16px 33px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-button:hover {
  background-color: #d32f2f;
  transform: scale(1.05); /* Slightly increase size on hover for effect */
}

.low-stock-message {
  color: orange;
  font-weight: bold;
  margin-top: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 5px;
}

.stock-message {
  color: orange;
  font-weight: bold;
}

.out-of-stock {
  color: red;
  font-weight: bold;
}

.wishlist-button {
  background-color: #007bff;
  color: white;
  margin-left: 10px;
  font-weight: bold;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.wishlist-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.addToCart-button {
  background-color: #28a745; /* Green */
  border: none;
  padding: 8px 12px;
  margin-left: 10px; /* Space between buttons */
  cursor: pointer;
  transition: background-color 0.3s;
  color: white; /* Ensuring the text is readable */
  border-radius: 6px; /* Rounded corners for consistency */
}

.addToCart-button:hover {
  background-color: #218838; /* Darker green for hover effect */
}


/* rend l'état disabled évident */
button:disabled,
input:disabled {
  opacity: .55;
  cursor: not-allowed;
}

/* si tu veux un libellé rayé (optionnel) */
button:disabled {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

button.wishlist-button:disabled {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
